@model QuickSoft.Models.ApprovalUpdate
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Change Status</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("EditStatus", "JobCard", FormMethod.Post, new { role = "form", id = "editform" }))
            {
        <script type="text/javascript">
            $('form#popupForm').removeData("validator");
            $('form#popupForm').removeData("unobtrusiveValidation");
        </script>
        <div class="row">
            <div class="form-group col-md-12">
                @Html.Label("Approval Status", null, new { @class = "control-label" })
                @Html.DropDownList("ApprovalStatus", (SelectList)ViewBag.AppStat, new { id = "ApprovalStatus", @class = "form-control" })
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Note", null, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control input-sm", @placeholder = "Enter Reason.." })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" class="btn btn-info col-sm-offset-4" value="Update" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>
