@{
    ViewBag.Title = "Log Details";
    ViewBag.SubTitle = "Log Details";
    ViewBag.Active = "Log Details";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Log Details</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover" id="logTable">
            <thead>
                <tr class="bg-gray">
                    <td>S/N</td>
                    <td>Details</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        var TransId   = getParameterByName("TransId");
        var TransType = getParameterByName("TransType");
        
        var oTable = $('#logTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            "ajax": {
                "url": '/LogDetails/GetData',
                "type": "POST",
                "data": function (data) {
                    data.TransId    = TransId;
                    data.TransType  = TransType;
                },
                "datatype": "json"

            },
            "order": [[0, "desc"]],
            "columnDefs": [{ orderable: false, targets: -1 }],
            "columns": [
                     {
                         "data": "id", "name": "id",
                         "render": function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                     { "data": "details", "name": "details" },
                     //{
                     //    "name": "details",
                     //    "data": function (data) {
                     //        if (data.CustomerType == 0) {
                     //            return "Credit";
                     //        } else {
                     //            return "Cash";
                     //        }
                     //    }
                     //}
            ]
        })

    </script>
}