<footer class="main-footer qk-footer">
    <div class="qk-footer-inner">
        <div class="qk-footer-left">
            <span class="qk-copy">&copy; @DateTime.Now.Year</span>
            <a href="#" data-toggle="modal" data-target="#quicknet" class="qk-brand">Quick Soft</a>
            <span class="qk-dot"></span>
            <span class="qk-rights">All rights reserved</span>
            <span class="qk-dot"></span>
            <span class="qk-assist">
                <a href="tel:+971508529609" class="qk-link"><i class="fa fa-phone-square"></i> +971 50 852 9609</a>
                <a href="tel:+971556517843" class="qk-link"><i class="fa fa-phone-square"></i> +971 55 651 7843</a>
                <a href="mailto:sales@quicknet.me" class="qk-link"><i class="fa fa-envelope"></i> sales@quicknet.me</a>
            </span>
        </div>
        <div class="qk-footer-right">
            <span class="qk-ver"><i class="fa fa-code-fork"></i> v@(ViewBag.Versions)</span>
        </div>
    </div>
    <div id="quicknet" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="attachment-block clearfix">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <img class="img-circle attachment-img" src="/quicknet.png" alt="Quicknet">
                    <h2>Quick Net Computers</h2>
                    <h4>The trusted IT Sales, Service and Networking partner</h4>
                    <p>Quick Net Computers is a total IT solution company that focuses solely on the computing, networking and business application needs arising in a business entity. Serving hundreds of organizations across every major industries, the company helps it’s clients achieve their business leadership objectives by lowering the cost and maximizing the performance of their information technology systems.</p>
                    <p>Quick Net provides communication background to all other network services. Data Network structures today include LAN, WAN, the Internet, Intranets, extranets and value added networks, which demands correct network design and increasing demands for safety, access, management and adding new services like IP Telephony and Video Conferencing. We design the networks for our customers by taking account of the structure of the target organization and the company processes and approaches individual components, so that together they provide maximum service availability at optimal operational cost and increased security.</p>
                    <div class="text-center">
                        <a href="https://quicknet.me" class="btn btn-info" target="_blank" rel="noopener">quicknet.me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
