@*
   "Real Estate" top-bar menu — surfaces the full Property-area controller set on the
   main horizontal menu (Menu.cshtml), mirroring the owner-designed _PropertyMenu sidebar.
   Rendered as a single <li> so it drops into the top-level <ul class="sidebar-menu">.
   Links are taken verbatim from _PropertyMenu.cshtml (the canonical Property routes).
*@
<li class="treeview">
    <a href="#">
        <i class="fa fa-building"></i>
        <span>Real Estate</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">

        @* ---------------- Property Management (dashboard) ---------------- *@
        <li><a href="/Property/PropertyHome/Index"><i class="fa fa-dashboard"></i> <span>Property Management</span></a></li>

        @* ---------------- Master ---------------- *@
        <li class="treeview">
            <a href="#"><i class="fa fa-th"></i> <span>Master</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Landlords</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/Landlords/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/Landlords/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Tenant</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Customer/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Customer/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Developer</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/Developer/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/Developer/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Contractor</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/Contractor/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/Contractor/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Broker</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/Broker/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/Broker/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Property</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/PropertyType/"><i class="fa fa-circle-o"></i> <span>Property Type</span></a></li>
                        <li><a href="/Property/PropertyMain/"><i class="fa fa-circle-o"></i> <span>Property</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Units</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/Unit/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/Unit/"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li><a href="/Master/BankAccounts"><i class="fa fa-circle-o"></i> <span>Bank Accounts</span></a></li>
                <li><a href="/Accounts/Index"><i class="fa fa-circle-o"></i> <span>Account</span></a></li>
                <li><a href="/Master/AccountsGroup"><i class="fa fa-circle-o"></i> <span>Account Group</span></a></li>
                <li><a href="/BillSundry/Index"><i class="fa fa-circle-o"></i> <span>BillSundry</span></a></li>
            </ul>
        </li>

        @* ---------------- Transactions ---------------- *@
        <li class="treeview">
            <a href="#"><i class="fa fa-th"></i> <span>Transactions</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Property Registration</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/PropertyRegistration/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/PropertyRegistration/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Tenancy Contract</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/TenancyContract/Create"><i class="fa fa-circle-o"></i> <span>Add</span></a></li>
                        <li><a href="/Property/TenancyContract/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Rental Invoice</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/Rental/Create"><i class="fa fa-circle-o"></i> <span>Add</span></a></li>
                        <li><a href="/Property/Rental/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li><a href="/PDCRegularise/Index"><i class="fa fa-circle-o"></i> <span>PDC Regularize</span></a></li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Rental Proforma</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/RentalProforma/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/RentalProforma/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Maintenance Contract</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/Maintenance/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/Maintenance/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Journal</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/PJournalV/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/PJournalV/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Payment</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/PPayment/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/PPayment/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> <span>Receipt</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a href="/Property/PReceipt/Create"><i class="fa fa-circle-o"></i> <span>Create</span></a></li>
                        <li><a href="/Property/PReceipt/Index"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>

        @* ---------------- Reports ---------------- *@
        <li class="treeview">
            <a href="#"><i class="fa fa-th"></i> <span>Reports</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
            <ul class="treeview-menu">
                <li><a href="/Property/PropertyReports/PropertySummery"><i class="fa fa-circle-o"></i> <span>Property Summery</span></a></li>
                <li><a href="/Property/PropertyReports/PropertyConsolidated"><i class="fa fa-circle-o"></i> <span>Property Report</span></a></li>
                <li><a href="/MyReports/PLSummaryProperty"><i class="fa fa-circle-o"></i> <span>Property Based P&amp;L</span></a></li>
                <li><a href="/Property/PropertyReports/PropertyRegistration"><i class="fa fa-circle-o"></i> <span>Property Registration</span></a></li>
                <li><a href="/Property/PropertyReports/TenancyContract"><i class="fa fa-circle-o"></i> <span>Tenancy Contract</span></a></li>
                <li><a href="/Property/PropertyReports/RentalInvoice"><i class="fa fa-circle-o"></i> <span>Rental Invoice</span></a></li>
                <li><a href="/Property/PropertyReports/Maintance"><i class="fa fa-circle-o"></i> <span>Maintance Contract</span></a></li>
                <li><a href="/Property/PropertyReports/documentexpiry"><i class="fa fa-circle-o"></i> <span>Document Expiry</span></a></li>
                <li><a href="/Property/PropertyReports/EmptyUnits"><i class="fa fa-circle-o"></i> <span>Empty Units</span></a></li>
                <li><a href="/Property/PropertyReports/Expense"><i class="fa fa-circle-o"></i> <span>Expense</span></a></li>
                <li><a href="/Property/PropertyReports/Income"><i class="fa fa-circle-o"></i> <span>Income</span></a></li>
                <li><a href="/Property/PropertyReports/Payment"><i class="fa fa-circle-o"></i> <span>Payment</span></a></li>
                <li><a href="/Property/PropertyReports/Receipt"><i class="fa fa-circle-o"></i> <span>Receipt</span></a></li>
                <li><a href="/Property/PropertyReports/Journal"><i class="fa fa-circle-o"></i> <span>Journal</span></a></li>
            </ul>
        </li>

    </ul>
</li>
