@{
    ViewBag.Title = "View Email Template";
    ViewBag.SubTitle = "View Email Template";
    ViewBag.Active = "Settings";
    string actData = "";
}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">View Email Template</h3>
            <div class="pull-right">
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a class="btn btn-info no-border" href="/EmailTemplate/Create">
                    <i class="glyphicon glyphicon-plus"></i> Create Email Template
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td data-priority="1">Head</td>
                        <td data-priority="2">Subject</td>
                        <td data-priority="1">Action</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
@Html.Partial("../Common/_ModalEdit")
@Html.Partial("../Common/_ModalDelete")
<script type="text/javascript">
    $(document).ready(function () {
        $("[id$=liSystemSettings]").addClass("active");
        $("[id$=liEmail]").addClass("active");
        $("[id$=liEmailTemplateView]").addClass("active");
        var oTable = $('#UserTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bStateSave": true,
            "pageLength": 50,
            responsive: true,
                "ajax": {
                    "url": '/EmailTemplate/GetEmailTemplate',
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Head", "name": "Head" },
                    { "data": "Subject", "name": "Subject" },
                    {
                        "name": "EmailTemplateID", "data": function (data) {
                          var rest = "";
                              @{
                                  if (User.IsInRole("Dev") || User.IsInRole("Edit Email Template"))
                                  {
                                      actData += "<a class=\"modal-edit\" href=\"/EmailTemplate/Edit/'+ data.EmailTemplateID +'\" title=\"Edit Email Template\"><i class=\"fa fa-lg fa-edit\" ></i></a> ";
                                  }
                                  //if (User.IsInRole("Dev") || User.IsInRole("Delete Email Template"))
                                  //{
                                  //    actData += "<a class=\"modal-delete\" href=\"/EmailTemplate/Delete/'+ data.EmailTemplateID +'\" title=\"Delete Email Template\"><i class=\"fa fa-lg fa-trash\" ></i></a> ";
                                  //}
                              }
                          return rest = '@Html.Raw(actData)';
                      }
                     },

                ]
        })
    });

    /* function for delete popup */
    $('#UserTable').on('click', '.modal-delete', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        modalshow(url, '#modal-delete');
    });
    $('#modal-delete').on('submit', '#deleteform', function (e) {
        e.preventDefault();
        var url = $('#deleteform')[0].action;
        var data = $('#deleteform').serialize();
        createajax(url, data, '#modal-delete');
    });
</script>

