@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel
@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();

    var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase") ?
        Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
        Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();
    string myclass = "";
}
<div id="printit" class="hidden">
    <!-- Main content -->
    <table class="invoice print">
        <thead>
            <!-- title row -->
            <tr>
                <th style="height: 208px;"></th>
            </tr>
            <tr class="row" id="header">
                <th class="col-xs-12">
                    <style>
                        @@media print {
                            body {
                                border: 0px !important;
                                font-weight: 900;
                            }
                        }

                        @@media screen {
                            body .print {
                                border: 0px !important;
                                /*background: url(/img/inv.jpg) !important;*/
                                background-size: cover !important;
                                height: 279.4mm;
                                width: 215.9mm;
                            }
                        }

                        body .print {
                            border: 0px !important;
                            background: url(/img/inv.jpg) !important;
                            background-size: cover !important;
                            height: 279.4mm;
                            width: 215.9mm;
                        }

                        body .print {
                            width: 100% !important;
                        }

                        body {
                            border: 0px !important;
                        }

                        .print, .table.table-noborder tbody tr td, .table.table-noborder thead tr th {
                            border: 0px !important;
                        }

                        .table.lh tbody tr td {
                            line-height: 25px;
                        }

                        .itm td {
                            line-height: 17px !important;
                        }

                        .table.itm tbody tr {
                            vertical-align: middle;
                            height: 20px;
                            padding: 8px 0px 6px 0px;
                        }

                            .table.itm tbody tr td {
                                padding: 4px 5px 3px 5px;
                                vertical-align: middle;
                            }
                    </style>
                    <div style="height:140px">
                        <table class="table table-noborder lh">
                            <tr>
                                <td width="70%" rowspan="2" style="padding-left: 60px;font-weight: 900;font-size: 21px;">
                                    <label id="lblBillNo"> </label>
                                </td>
                                <td style="text-align: right;padding-right: 50px;line-height: 10px;">
                                    <label id="lblDate"> </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 0px;text-align: right;">
                                    <label id="lblJobNo"> </label>
                                </td>
                            </tr>
                            <tr>
                                <td width="70%" style="padding: 3px;">
                                    <table class="table-nob noborder" style="border: 0px;width: 65%;margin-left: 10%;">
                                        <tr style="height: 20px;vertical-align: initial;">
                                            <td colspan="2"><label id="lblParty"></label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label id="lbladdresss"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <label id="lbltrn" style="padding-left: 53px;"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0px !important;">
                                                <label id="lblattn" style="padding-left: 43px;"></label>
                                            </td>
                                            <td style="width:20%">
                                                <label id="lbltel" style="font-size: 12px;"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 3px;">
                                    <table id="Cust_de" class="table-nob noborder" style="border: 0px;width: 100%;">
                                        <tr>
                                            <td style="height:20px;"><label id="lblYdvn"></label></td>
                                        </tr>
                                        <tr>
                                            <td style="height:20px;"><label id="lblOdvn"></label></td>
                                        </tr>
                                        <tr>
                                            <td style="height:20px;"> <label id="lblPONo"></label></td>
                                        </tr>
                                        <tr>
                                            <td style="height:20px;"><label id="lblVehicle"></label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" style="border:0px solid #898989">
                <td class="col-xs-12 table-responsive">
                    <div id="itemSection" style="min-height:500px">
                        <table class="table table-noborder itm" id="itemtable" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th style="width :50px;height:20px"></th>
                                    <th style="width :60px;"></th>
                                    <th style="width :338px;"></th>
                                    <th style="width :78px;"></th>
                                    <th class="itemdata" style="width :78px;"></th>
                                    <th class="itemdata" style="width :125px;"></th>
                                    <th class="itemdata"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table table-noborder" id="itemtable1">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>