<div id="modal-commission" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-body">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Commission</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="normalcommission">
                                <thead>
                                    <tr>
                                   
                                        <th class="text-center">Agent</th>
                                        <th class="text-center">Commision Type</th>
                                        <th class="text-center">Commision Mode</th>
                                        <th class="text-center">Value</th>
                                        <th class="text-center"></th>
                                       
                                        
                                    </tr>
                                </thead>
                                <tbody id="addcommision"></tbody>
                                <tfoot>
                                 
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 text-right">
                                <input type="button" class="btn btn-success" value="Save" data-dismiss="modal">
                                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


