<div id="printSettlement" class="hidden">
    <style>
        @@media print {
            @@page {
                size: 1.49in 1.05in;
                page-break-after: always;
                margin-left: 0mm;
                margin-right: 0mm;
                margin-top: 0mm;
                margin-bottom: 0mm;
            }

            @@page {
                @@bottom-right {
                    content: "";
                }

                @@bottom-left {
                    content: "";
                }

                @@top-right {
                    content: "";
                }

                @@top-left {
                    content: "";
                }
            }
        }

        #DataTable body {
            text-align: center;
        }

        #DataTable tr {
            page-break-after: always;
        }

        #DataTable td {
            text-align: center;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 0px;
            border-top: 0px;
        }
        #DataTable th {
            text-align: left;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 0px;
            border-top: 0px;
        }

        #DataTable h4 {
            margin-bottom: -6px;
            z-index: 1;
            position: relative;
            font-size: 0.9em;
        }        

        #DataTable {
            font-size: .9em;
            margin-bottom: 0px;
        }

        p {
            font-size: .65em;
        }
    </style>
    <!-- Main content -->
   
    <table class="table SettlementTable" id="DataTable">
        <thead>
            <!-- title row -->
            <tr class="row" id="header" style="border-top: 1px solid #898989 !important;">
                <th class="col-xs-12">
                    <div style="max-height:250px">
                        <div class="text-center" id="comHeader">
                            @if (@ViewBag.HeadCheck != 0)
                            {
                                @Html.Partial("../Common/_CompanyHeader")
                            }
                        </div>
                        <div class="text-center">
                            <style type="text/css">
                                @@media print {
                                    body, .print {
                                        border: 0px !important;
                                    }

                                    body, .print {
                                        border: 1px !important;
                                    }

                                    .table-bordered td, .table-bordered th {
                                        border: 1px solid #898989 !important;
                                    }
                                }

                                body .print {
                                    font-size: 12px;
                                }

                                .print .table-nob tr th {
                                    width: 40%;
                                }
                            </style>
                            <h4 style="margin-bottom: 1px;">
                                <strong>Settlement Data</strong>
                            </h4>
                        </div>

                    </div>
                </th>
                <!-- /.col -->
            </tr>
        </thead>

        <tbody>
            <!-- Table row -->           
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table" id="itemtableSettlement">
                        @*<thead>
                            <tr >
                                <td>S/N </td>                               
                                <td>Payment Type</td>
                                <td>Account Name </td>
                                <td class="text-right">Amount </td>
                            </tr>
                        </thead>*@                       
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>            
            <tr class="row">
                <td>
                    <div class="text-center">
                        @*@Html.Partial("../Common/_CompanyFooter")*@
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
