<div id="modal-usedmaterials" class="modal fade" role="dialog" aria-hidden="true" >

    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-body">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Used Materials</h3>
                    </div>
                    <div class="box-body">
                        <input type="hidden" id="VoucherType" value="Sales" />
                        <input type="hidden" id="batchcheck" value="@ViewBag.BatchWiseStock" />
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="normalinvoiceused">
                                <thead>
                                    <tr>
                                        <th class="text-center ">Sl No</th>
                                        <th class="text-center item-lists">Item <i class="text-danger">*</i></th>
                                        <th class="text-center">Unit</th>
                                        <th class="text-center">Qty <i class="text-danger">*</i></th>
                                        <th class="text-center">Rate <i class="text-danger">*</i></th>
                                        <th class="text-center">Sub Total</th>
                                        <th class="text-center">TAX</th>
                                        <th class="text-center" style="display:none;">Total</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody id="addinvoiceusedpopup"></tbody>
                                <tfoot>
                                    <tr id="footchk">
                                        <td colspan="3">
                                            Total
                                        </td>
                                        <td class="text-right">
                                            <label id="ItemQtyU2"></label>
                                        </td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <label id="SubTotalU"></label>
                                        </td>
                                        <td></td>
                                        <td class="text-right">
                                            <label id="total_tax_amountU2"></label>

                                        </td>
                                        <td class="text-right">
                                            <label id="totalU2"></label>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 text-right">
                                <input type="button" class="btn btn-success" value="Save" data-dismiss="modal">
                                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                            </div>
                        </div>
                        <div id="batchStocks" style="z-index:2;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@section scripts{
    <script src="~/Content/js/UsedMaterials.js"></script>
}*@
</div>


