
<div id="modal-SettlementMode" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Settlement Mode</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateSettlement", "CreditSale", FormMethod.Post, new { id = "UpdateSettlement", role = "form", enctype = "multipart/form-data" }))
                {
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="row" style="display:none;">
                                <div class="col-md-3 form-group">
                                    <label class=" control-label">Customer Cash</label>
                                    <input type="text" value="100" id="cuscash" onkeyup="updatebal(this)" name="cuscash" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class=" control-label">Balance Cash</label>
                                    <input type="text" value="50" id="balcash" name="balcash"/>
                                </div>
                            </div>
                            <hr />
                            <div class="row" id="Section1">
                                <div class="input_fields_wrap1" id="input_fields_wrap1">
                                </div>
                            </div>

                            <div class="row" id="Section2">
                                <div id="ImageLabel">
                                    <label class=" control-label">Payment Details</label>
                                </div>

                                <div class="input_fields_wrap2" style="border: 1px solid #ccc;">
                                </div>
                            </div>
                            <br />
                            <div class="row text-center">
                                <a href="javacript:void(0)" style="font-size:15px;color:blue" id="enablehang">If feel Hang click here to enable buttons</a>
                                <input type="hidden" id="fnvalp" value="" />&nbsp;&nbsp;
                                <input type="submit" value="Save" class="btn btn-success" id="btnSettlementSave" />&nbsp;&nbsp;
                                <input type="button" value="Print Settlement" class="btn btn-success" id="btnSettlementPrint" />&nbsp;&nbsp;
                                <input type="button" value="Cancel" class="btn btn-default" id="btnSettlementCancel" data-dismiss="modal">
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script>
    function updatebal(obj) {
        var amount = $(obj).val();
        var bal = parseFloat(amount) - parseFloat($("#InvoiceAmount").val());
        bal = parseFloat(bal).toFixed(2);
        $("#balcash").val(bal);
        $("#Amount0").val($("#InvoiceAmount").val());
        $("#CheckBox0").prop("checked", true);
        $("#Amount0").prop("readonly",false);
        

    }
</script>



