@{
    ViewBag.Title = "Item Excel Import";
    ViewBag.SubTitle = "Item Excel Import";
    ViewBag.Active = "Master";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Item Excel Import</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("ItemExcel", "Item", FormMethod.Post, new { @id = "createform", @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label class="control-label col-md-4">Upload Excel</label>
                <div class="col-sm-3">
                    <input type="file" name="file" class="form-control" id="file" />
                </div>
            </div>
            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-4" value="Upload" />
                <button type="button" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("DownloadExcel", "Item") + "'");">Download Excel Format</button>
            </div>
        }
    </div>
</div>



