@model QuickSoft.Models.MC
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Change  Status</h4>
</div>
<div class="modal-body">
    <h3>Are you sure you want to Change Status to @ViewBag.type?</h3>
    <hr />
    @using (Html.BeginForm("ChangeStatus", "MC", FormMethod.Post, new { id = "changeform" }))
            {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Status, new { @Value = @ViewBag.status })
        <div class="form-actions no-color">
            <input type="submit" value="Change Status" class="btn btn-danger col-sm-offset-4" />
            <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
        </div>
    }
</div>






