@model QuickSoft.ViewModel.ItemDocumentViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close closed" aria-hidden="true">&times;</button>
    <h4>Add Item Document</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("DocumentAdd", "Item", FormMethod.Post, new { id = "popupFormItemDocumentAdd", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group col-sm-12">
            @Html.Label("Item Document", null, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.ItemDocument, new { type = "file", multiple = "multiple" })
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
            <input type="button" class="btn btn-default closed" value="Cancel">
        </div>
    }
</div>

