<div id="printit" class="hidden">
    <!-- Main content -->
    <section class="invoice print">
        <!-- title row -->
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center">
                    @{ ViewBag.chkLogo = "logo";}
                    @Html.Partial("../Common/_CompanyHeader")
                    <h4>
                        <strong>Debit Note</strong>
                       
                    </h4>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <table class="table-nob noborder" style="border: 0px;width: 50%;">
                                <tr>
                                    <th>Voucher No رقم القسيمة</th>
                                    <td>: <label id="lblBillNo"></label></td>
                                </tr>
                                <tr>
                                    <th>Date تاريخ</th>
                                    <td>: <label id="lblDate"></label></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered" id="itemtable">
                    <thead>
                        <tr class="bg-gray">
                            <th>S/N</th>
                            <th>Pay From</th>
                            <th>Pay To</th>
                            <th>Debit Amount</th>
                        </tr>
                    </thead>
                    <tbody class="noborder">
                        <tr>
                            <td>1</td>
                            <td><label id="lblaccountsF"></label></td>
                            <td><label id="lblaccountsT"></label></td>
                            <td><label id="lblcreditamt"></label></td>
                        </tr>
                        <tr class="border-top">
                            <td>Total : </td>
                            <td></td>
                            <td></td>
                            <td><label id="lblcreditsum"></label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered" id="itemtable1">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered second-table"></table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td rowspan="3" style="width:50%;">
                            Receiver's Signature :<br />
                            توقيع المتلقي

                        </td>
                        <td colspan="3" rowspan="3">
                            For @ViewBag.CName
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("../Common/_CompanyFooter")
            </div>
        </div>
    </section>
</div>




