@model QuickSoft.Models.InvoiceLayout
@{
    ViewBag.Title = "Settings";
    ViewBag.SubTitle = "LPO Invoice Layout";
    ViewBag.Active = "Settings";

}
<div class="box box-info">
    @Html.Raw(Model.Name)
</div>
