<div id="printit" class="hidden">
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" style="margin-top: 3px;">
                    @if (@ViewBag.HeadCheck != 0)
                    {
                        ViewBag.chkLogo = "logo";
                        @Html.Partial("../Common/_CompanyHeader")
                    }
                    <h4>
                        <strong>PAYMENT VOUCHER</strong>
                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-noborder">
                    <tr style="border-top: 1px solid #898989 !important;">
                        <td width="50%" style="padding: 3px;">
                            <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                <tr>
                                    <th><b>Payees Name:</b></th>
                                    <td><label id="lblpayfrom"></label></td>
                                </tr>
                                <tr>
                                    <th><b>Payment Acc:</b></th>
                                    <td><label id="lblpayto"></label></td>
                                </tr>
                                @*<tr>
                                    <th><b>Account Code:</b></th>
                                    <td><label id="lblAcCode"></label></td>
                                </tr>*@
                                <tr>
                                    <th><b>Narration:</b></th>
                                    <td><label id="lblNarration"></label></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                <tr>
                                    <th>Voucher No</th>
                                    <td>: <label id="lblBillNo"></label></td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>: <label id="lblDate"></label></td>
                                </tr>
                                <tr class="che">
                                    <th>Cheque No</th>
                                    <td>: <label id="lblChequeNo"></label></td>
                                </tr>
                                @*<tr class="che">
                                    <th>PDC No</th>
                                    <td>: <label id="lblPDCNo"></label></td>
                                </tr>*@
                                <tr class="che">
                                    <th>Cheque Date</th>
                                    <td>: <label id="lblChequeDate"></label></td>
                                </tr>
                                @* field mapping *@
                                <tr id="divRef1" hidden>
                                    <th id="IblRef1"></th>
                                    <td>: <label id="IblRef1Val"></label></td>
                                </tr>
                                <tr id="divRef2" hidden>
                                    <th id="IblRef2"></th>
                                    <td>: <label id="IblRef2Val"></label></td>
                                </tr>
                                <tr id="divRef3" hidden>
                                    <th id="IblRef3"></th>
                                    <td>: <label id="IblRef3Val"></label></td>
                                </tr>
                                <tr id="divRef4" hidden>
                                    <th id="IblRef4"></th>
                                    <td>: <label id="IblRef4Val"></label></td>
                                </tr>
                                <tr id="divRef5" hidden>
                                    <th id="IblRef5"></th>
                                    <td>: <label id="IblRef5Val"></label></td>
                                </tr>                   
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="itemSection" class="col-xs-12 table-responsive" style="min-height:400px">
                <table class="table table-bordered" id="itemtable" style="border: 1px solid;font-size: 12px;">
                    <thead>
                        <tr class="bg-gray">
                            <th>S/N</th>
                            <th>Account Name </th>
                            <th>AMOUNT (AED)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><label id="lblpayfrom"></label></td>
                            <td class="text-right"><label id="lbltotalamt"></label></td>
                        </tr>
                        <tr id="taxesid">
                            <td>2</td>
                            <td>Tax Amount <label id="lblper"></label>(%)</td>
                            <td class="text-right"><label id="lbltxamt"></label></td>
                        </tr>
                        <tr id="discountid">
                            <td id="slno"></td>
                            <td>Discount(-)</td>
                            <td class="text-right"><label id="lbldiscount"></label></td>
                        </tr>
                        <tr id="dummyrow"></tr>
                        <tr style="border-top: 1px solid #898989 !important;">
                            <td colspan="2" style="border-right:0px !important;">Net Amount in Words : &nbsp;&nbsp; <label id="lblAmtWord"></label></td><td class="text-right" style="border-left:0px !important;">&nbsp;&nbsp;Net Amount: <label id="lbldebitsum"></label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr class="row">
                        <td class="col-xs-12 table-responsive">
                            <table class="table table-noborder">
                                
                                <tr><td colspan="4" style="height:60px;"></td></tr>
                                <tr>
                                    <td class="text-center text-bold" style="border:0px !important">
                                        <div style="width: 84%;">
                                            <hr class="hrfoot" />
                                            <b>Accountant</b><br />Prepared By
                                        </div>
                                    </td>
                                    <td class="text-center text-bold" style="border:0px !important">
                                        <div>
                                            <hr class="hrfoot" />
                                            <b>Senior Accountant</b><br />Verified By
                                        </div>
                                    </td>
                                    <td class="text-center text-bold" style="border:0px !important">
                                        <div style="width: 84%;float:right">
                                            <hr class="hrfoot" />
                                              <b>General Manager</b><br />Verified By
                                        </div>
                                    </td>
                                    <td class="text-center text-bold" style="border:0px !important">
                                        <div style="width: 84%;float:right">
                                            <hr class="hrfoot" />
                                            <b>Finance Manager</b><br />Verified By
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-12 table-responsive">
                            <table class="table table-noborder">
                                <tr><td colspan="4" style="height:60px;"></td></tr>
                                <tr>
                                    <td class="text-center text-bold" style="border:0px !important">
                                        <div style="width: 84%;">
                                            <hr class="hrfoot" />
                                            <b>Chief Compliance Officer</b><br />Approved By
                                        </div>
                                    </td>
                                    <td class="text-center text-bold" style="border:0px !important">
                                        <div>
                                            <hr class="hrfoot" />
                                            <b>Chief Financial Officer</b><br />Approved By
                                        </div>
                                    </td>
                                    <td class="text-center text-bold" style="border:0px !important">
                                        <div style="width: 84%;float:right">
                                            <hr class="hrfoot" />
                                            <b>Full Name / Signature / Mobile No</b><br />Received By
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</div>

