<!-- Modal -->
@{
    string keyno = "";
    if (ViewBag.KBEnable == 0)
    {
        keyno = "numbers";
    }
}
<div class="modal fade" id="duplicate-bill" role="dialog">
    <div class="modal-dialog modal-large">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">DUPLICATEBILL</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                    BillNo : <input value="" class="form-control @keyno" type="text" id="dupbillorder" />
                    </div>
                    <div class="col-md-4">
                        Date :
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        <input id="dupbilldate" type="text" class="form-control datepicker input-sm" />
                    </div>
                    </div>
                    <div class="col-md-4 lblpadding">
                        <button type="button" class="btn btn-success btn-full" id="dupsearch">Search</button>
                    </div>
                    <div class="col-md-12">
                        <div class="scroll-box2" id="duplicatebilllist">
                            <!-- item list-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


