<section class="content hidden print" id="printit">
<div id="qrcode" style="display:none"></div>
    <style>
        #invoice-POS {
            padding: 2mm;
            margin: 0 auto;
            width: 100%;
            background: #FFF;
            /*border: 1px solid #f0f0f0;*/
            /*max-width: 250px;*/
        }

            #invoice-POS ::selection {
                color: #FFF;
            }

            #invoice-POS ::moz-selection {
                color: #FFF;
            }

            #invoice-POS h1 {
                font-size: 1.5em;
                color: #222;
            }

            #invoice-POS h2 {
                font-size: 1em;
                margin: 0px 0;
                padding-top: 3px;
                padding-bottom: 3px;
            }
td{
    color:black;
    font-weight:bold;
}
            #invoice-POS h3 {
                font-size: 1.3em;
                font-weight: bold;
                line-height: 1em;
                margin-bottom: 0px !important;
                margin-top: 0px;
            }
            #invoice-POS h5 {
                font-weight: bold;
                margin-top: 0px;
                font-size:1em;
            }

            #invoice-POS p {
                font-size: .9em;
                color: black;
                font-weight:bold;
                line-height: 1em;
                margin-bottom: 1px;
            }

            #invoice-POS #top, #invoice-POS #mid, #invoice-POS #bot {
                /* Targets all id with 'col-' */
                border-bottom: 1px solid #EEE;
                margin-bottom: 5px;
            }

            /*#invoice-POS #top {
                min-height: 100px;
            }*/

            /*#invoice-POS #mid {
                min-height: 80px;
            }*/

            #invoice-POS #bot {
                min-height: 50px;
            }

            #invoice-POS #top .logo {
                height: 60px;
                width: 60px;
                background-size: 60px 60px;
            }

            #invoice-POS .clientlogo {
                float: left;
                height: 60px;
                width: 60px;
                background: url() no-repeat;
                background-size: 60px 60px;
                border-radius: 50px;
            }

            #invoice-POS .info {
                display: block;
                margin-left: 0;
                margin-bottom: 5px;
            }
            .info P
            {
                padding:0px;
                margin:0px;
            }
            #invoice-POS .info p b{
                float:left;
            }

            #invoice-POS .title {
                float: right;
            }

                #invoice-POS .title p {
                    text-align: right;
                }

            #invoice-POS table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 5px;
                border-bottom: 1px #898989;
            }

            #invoice-POS .tabletitle {
                font-size: .85em;
                border-bottom: 1px solid #EEE;
            }
            #invoice-POS .tabletitle h2{
                font-weight:800;
            }

            #invoice-POS .service {
                border-bottom: 1px solid #EEE;
            }

            #invoice-POS .item {
                width: 45mm;
                padding-top: 3px;
                padding-bottom: 3px;
            }

            #invoice-POS .itemtext {
                font-size: .65em;
                margin-bottom: 1px;
            }

            #invoice-POS #legalcopy {
                margin-top: 1.5mm;
            }

            #invoice-POS .rate {
                text-align: right;
            }

            #invoice-POS .qty {
                text-align: center;
            }
             #invoice-POS .price {
                text-align: center;
            }

            #invoice-POS hr {
                margin: 5px 0;
            }

            .noborder th {
                 border-bottom: 1px #898989;
            }

            .noborder tr {
                 border: none;
            }

            .noborder td {
                 border: none;
            }

#itemtable tbody td,#itemtable tbody td span,#itemtable tbody p{
    font-size:16px !important;
}
    </style>
    <div id="invoice-POS">
   @if (@ViewBag.CLogo != null)
            {
                <center>
                <p>
                <img class="img-responsive" src="/uploads/company/7ffe3983-2934-49ae-b1e5-04ad57052989.jpeg"  width="100"/>
                </p>
                </center>
            }
        <center id="top">

         
            <div class="info">
             
             <center>  <B>FARM KING ROASTERY - L.L.C - S.P.C</B>
<div>Mussafah 32/1, Abu Dhabi, UAE</div>
               <HR>
               <B>TAX INVOICE</B>
              <DIV> TRN :104942069600003</DIV>
            
               </center>
            </div>
        </center><!--End InvoiceTop-->
     
        <div id="mid">
            <div class="info">
 
                <p><b>Invoice No </b> : <span id="lblBillNo"></span></p>
                @*<p><b>PO No</b> : <span id="lblPONo"></span></p>*@
                <p><b>Date </b> : <span id="lblDate"></span></p>
                @*<p><b>Cashier </b> : <span id="lblEmployee"></span></p>*@
                <p><b>Customer  </b> : <span id="lblCustomer"></span></p>
                </div>
        </div><!--End Invoice Mid-->

        <div id="bot">

            <div id="table">
                <table class="table-nob noborder" id="itemtable">
                    <thead>
                        <tr class="tabletitle thead">
                            @*<th class="slno"><h2>S.N.</h2></th>*@
                            <th class="item"><h2>Item </h2></th>
                            @*<th class="qty"><h2>Unit وحدة</h2></th>*@
                            <th class="qty"><h2>Qty </h2></th>
                            <th class="qty"><h2>Unit Price </h2></th>
                            
                            <th class="rate"><h2>Amount </h2></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
<tr class="tabletitle" id="trdiscount">
                            <td colspan="3" class="Rate"><h2>Discount </h2></td>
                            <td class="rate"><h2 id="lblDiscount"></h2></td>
                        </tr>
      
                        
                        <tr class="tabletitle">
                            <td colspan="3" class="Rate"><h2>Grand Total (AED)</h2></td>
                            <td class="rate"><h1 id="lblGTotal"></h1></td>
                                     
                               
                        </tr>
                        <tr>
                        
                        <td colspan="4"><hr></td>
                        </tr>
                         
                        <tr class="tabletitle" style="display:none;">
                            <td colspan="3" class="Rate"><h2>Pay By</h2></td>
                            <td class="rate"><h2 id="lblpay"></h2></td>
                                     
                        </tr>
                    </tfoot>
                </table>
          <table class="table-nob noborder" width="100%">
          <tr>
<td>VAT %</TD>
<td>Sub.Total Excl Vat</TD>
<td>VAT</TD>

          </tr>
          <tr>
<td>5%</TD>
<td><label id="lblexctax"></label></TD>
<td><label id="lbltaxamout"></label></TD>

          </tr>

  <tr>
                        
                        <td colspan="3"><hr></td>
                        </tr>

<tr>
<td>Total Payed: <label id="lbltotalpaying"></label></TD>
<td>Balance : <label id="lblbalance"></label></TD>

</tr>
          </table>

                <p id="lblpayMeth"></p>
                <br />
                <div style="font-size:13px;width:100%">
                    <center>   <strong>Thanks For Your Visit</strong><br /><strong>Please Come Again !</strong></center>
                </div>
                <div>
<h2>O542246364 “Say Hi on WhatsApp — offers will be sent instantly.”</h2>

                </div>
            </div><!--End Table-->

     

        </div><!--End InvoiceBot-->
    </div><!--End Invoice-->
</section>