@{
    string keyno = "";
    if (ViewBag.KBEnable == 0)
    {
        keyno = "numbers";
    }
}
<!-- Modal -->
<div class="modal fade" id="dineInModel" role="dialog">
    <div class="modal-dialog modal-large">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">SelectaTable</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 rpos" id="tabledetail">
                        <div class="text-center">
                            <h4><label id="lblTable"></label><label hidden id="lbltableval"></label> </h4>
                        </div>
                        <p><span>MaximumSeats : </span><label id="lblmaxseat"></label></p>
                        <div id="seatused">
                            <p><span>SeatUsed : </span><label id="lblusedseat"></label></p>
                        </div>
                        <p><span>Status : </span><label id="lblstatus"></label></p>
                        <div id="peoplecount">
                            <p><span>PeopleCount : </span><input value="4" class="@keyno" type="number" id="lblpeoplcount" /></p>
                            <button type="button" class="btn btn-success btn-full" id="tablesubmit">Save</button>
                        </div>
                       
                    </div>
                    <div class="col-md-9 rpos">
                        <div class="scroll-box2" id="tablelist">
                            <!-- item list-->
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer buttonalign" >
                <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>*@
        </div>
    </div>
</div>



