<!-- Modal -->
<div class="modal fade" id="select-waiter" role="dialog">
    <div class="modal-dialog modal-large">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Select Driver</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="scroll-box2" id="waiterlisttable">
                            <!-- item list-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
