@model QuickSoft.Models.Contact
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Contact Remarks</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("contactremark", "Customer", FormMethod.Post, new { id = "createform" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.HiddenFor(m=>m.ContactID)
                    @Html.Label("Remarks", null, htmlAttributes: new { @class = "control-label" }) *

                    @Html.TextAreaFor(m => m.Fax,  new { @class = "form-control "})

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Save" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }


