@model QuickSoft.ViewModel.EnableSettingViewModel
@{
    ViewBag.Title = "Accounts Dashboard Configuration";
    ViewBag.SubTitle = "";
    ViewBag.Active = "";
}
<style>
    .table td {
        width: 50%;
    }

    .select-width {
        width: 250px !important;
    }

    .lblpadding {
        padding-top: 6px !important;
        margin-top: 0px !important;
    }

    .td-chk {
        width: 100% !important;
    }

    .sh-btm-mrgn {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    .sh-btm-mrgn2 {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    @@media only screen and (max-width: 420px) {
        .lblpadding {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        div {
            font-size: 14px !important;
        }

        .sh-btm-mrgn {
            height: auto !important;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
            border-color: azure !important;
            border: thick !important;
        }

        .sh-btm-mrgn2 {
            height: 40px !important;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
        }

        #mladiv {
            height: 480px !important;
        }

        #reminddiv {
            height: 470px !important;
        }

        #preventdiv {
            height: 380px !important;
        }

        .checkbox {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }
</style>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Accounts Dashboard Configuration</h3>
    </div>
   
    <div class="box-body">
        @using (Html.BeginForm("UpdateAccountsDashboardConfig", "EnableSetting", FormMethod.Post, new { id = "brform", role = "form" }))
        {
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-6" style="text-align:right!important;">
                    <b>Updated Date Expiry Minutes :</b>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="example-content-widget">
                        @Html.TextBoxFor(m => m.UpdatedDateExpiry, new { @class = "form-control", @type = "text" })


                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-12 sh-btm-mrgn">
                <div class="col-md-6 col-xs-6" style="text-align:right!important;">
                    <b> Next Date Expiry Minutes :</b>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="example-content-widget">
                        @Html.TextBoxFor(m => m.NextDateExpiry, new { @class = "form-control", @type = "text" })


                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-12 sh-btm-mrgn" align="center">
                <button type="submit" id="save" class="btn btn-info lblpadding">Save</button>
            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/js/jqueryval")
    
}