@{
    ViewBag.Title = "Search Customer Area";
    ViewBag.SubTitle = "Sales Report";
    ViewBag.Active = "Reports";
}
<div class="box box-default" id="SReport">
    <input type="hidden" id="cname" value="@ViewBag.CName" />
    <input type="hidden" id="caddress" value="@ViewBag.CAddress" />
    <input type="hidden" id="state" value="@ViewBag.State" />
    <div class="box-header with-border">
        <h3 class="box-title">View Customer Area-Wise Report</h3>
    </div>
    <div class="box-body">
        <div class="box-body">
            <table class="table table-bordered" id="UserTable">
                <thead>
                    <tr class="bg-gray">
                        <td>S/N</td>
                        <td>Invoice No.</td>
                        <td>Date</td>
                        <td>Pay Method</td>
                        <td>Customer</td>
                        <td>TRN</td>
                        <td class="headeralign">Total Amt</td>
                        <td class="headeralign">Paid Amt</td>
                        <td class="headeralign">Balance Amt</td>
                        <td>Sales Executive</td>
                        <td id="matcol">Material Center</td>
                        <td id="SaleTy">SaleType</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
		$(document).ready(function () {
			var oTable = $('#UserTable').DataTable({
				"processing": true,
				"serverSide": true,
				"filter": false,
				"orderMulti": false,
				"bLengthChange": false,
				responsive: true,
				"paging": true,
				"pageLength": 5000,
				"ordering": false,
				"ajax": {
				    "url": '/SalesReport/GetCustomerAreaWise',
					"data": {
					    state: getQueryString1('state')
					},
					"type": "POST",
					"datatype": "json"
				},
				"order": [[0, "desc"]],
				"columns": [
					 {
						 "data": "SalesEntryId", "name": "SalesEntryId",
						 "render": function (data, type, row, meta) {
							 return meta.row + meta.settings._iDisplayStart + 1;
						 }
					 },
					{ "data": "BillNo", "name": "BillNo" },
					{ "data": "SEDate", "name": "SEDate", "render": function (data) { return convertToDate(data); } },
					{ "data": "PayMethod", "name": "PayMethod" },
					{ "data": "Customer", "name": "Customer" },
					{ "data": "TaxRegNo", "name": "TaxRegNo" },
                    { "data": "SEGrandTotal", "name": "SEGrandTotal", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
					{ "data": "SEPaidAmount", "name": "SEPaidAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
					{ "data": "SEBalanceAmount", "name": "SEBalanceAmount", render: $.fn.dataTable.render.number(",", ".", 2), "sClass": "numberright" },
					{ "data": "EmpName", "name": "EmpName" },
                    { "data": "MCName", "name": "MCName" },
                    {
                        "data": "SaleType", "name": "SaleType", "render": function (data) {
                            if (data == 2) {
                                return 'Hire';
                            }
                            else {
                                return 'Sale';
                            }

                        }

                    }
				],
				buttons: [
				'colvis',
				{
					extend: 'print',
					title: "",
					footer: true,
					filename: function () {
					    return 'Customer Area-Wise Sales-Report';
					},
					columnDefs: [
						{ width: 400, targets: 2 }
					],
					exportOptions: {
						columns: ':visible'
					},
					message: function()
					{
					    var head = '<table class="tblcompact table table-bordered"><thead>' +
						' <tr><th class="text-center"><h3 style="margin-top: 0px;">' + $('#cname').val() + '</h3>' + $('#caddress').val() + '<h4>Sales Report (Customer Area-Wise )</h4></th></tr>' +
						' <tr><th><span class="text-left">State : ' + $('#state').val() + '</span><span class="text-right pull-right"></span></th></tr></thead><tbody><tr><td>';
					    return head;
					},
					customize: function (win) {

						$(win.document.body).find('table.tblcompact tbody td').css('padding', '0px');
						$(win.document.body).find('.dataTable,.dataTable th,.dataTable tr,table.tblcompact tbody td .dataTable td')
							.css('font-size', '10pt')
							.css('padding', '5px')
							.addClass('compact');
						$(win.document.body).find('.dataTable tr th:nth-child(3)')
							.css('min-width', '80px');
						$(win.document.body).append('</td></tr></tbody>')

					}
				}, 'copy', 'csv',
                {
                    extend: 'excel',
                    title: "",
                    footer: true,
                    filename: function () {
                        return 'Customer Area-Wise Sales-Report';
                    },
                    message: function () {
                        var head = '' + $('#cname').val() + '\n' +
                            '' + $('#caddress').val() + '\n' +
                            'Sales Report (Customer Area-Wise) \n' +
                            'State : ' + $('#state').val();
                        return head;
                    },
                    pageSize: 'A4',
                    exportOptions: {
                        columns: ':visible'
                    },
                },
				{
					extend: 'pdf',
					title: "",
					footer: true,
					filename: function () {
					    return 'Customer Area-Wise Sales-Report';
					},
					message: function () {
					    var head = '' + $('#cname').val() + '\n' +
                            '' + $('#caddress').val() + '\n' +
                            ' Sales Report (Customer Area-Wise)  \n' +
                            'State : ' + $('#state').val();
					    return head;
					},
					pageSize: 'A4',
					exportOptions: {
					    columns: ':visible'
					},
					customize: function (doc) {
						doc.pageMargins = [10, 10, 10, 10];
						doc.defaultStyle.fontSize = 10;
						doc.styles.tableHeader.fontSize = 10;
						doc.styles.title.fontSize = 12;
						doc.styles.tableHeader.fillColor = '#d3d3d3';
						doc.styles.tableHeader.color = 'black';
						doc.content[0].text = doc.content[0].text.trim();
						doc.styles['td:nth-child(2)'] = {
						    width: '100%',
						    'max-width': '100%'
						}

					    //doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');

						//doc.content[1].table.widths = [
						//'5%',
						//'7%',
						//'12%',
						//'10%',
						//'10%',
						//'10%',
						//'12%',
						//'12%',
						//'12%',
						//'10%'
					    //]

						var objLayout = {};

						objLayout['hLineWidth'] = function (i) { return .5; };
						objLayout['vLineWidth'] = function (i) { return .5; };
						objLayout['paddingLeft'] = function (i) { return 4; };

						objLayout['paddingRight'] = function (i) { return 4; };

						doc.content[1].layout = objLayout;

						doc.styles.tableFooter.fillColor = '#d3d3d3';
						doc.styles.tableFooter.color = 'black';
					}
				}

				],

				sDom: "lBfr<'datatable-scroll't>ip",
				"lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
				"footerCallback": function (row, data, start, end, display) {
					var api = this.api(), data;

					var intVal = function (i) {
						return typeof i === 'string' ?
							i.replace(/[\$,]/g, '') * 1 :
							typeof i === 'number' ?
							i : 0;
					};

					// Total over all pages
					total = api
						.column(6)
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Total over this page
					pageTotal = api
						.column(6, { page: 'current' })
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Update footer
					$(api.column(6).footer()).html(
						 pageTotal.toFixed(2)
					);


					// Total over all pages
					total = api
						.column(7)
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Total over this page
					pageTotal = api
						.column(7, { page: 'current' })
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Update footer
					$(api.column(7).footer()).html(
						 pageTotal.toFixed(2)
					);


					// Total over all pages
					total = api
						.column(8)
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Total over this page
					pageTotal = api
						.column(8, { page: 'current' })
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Update footer
					$(api.column(8).footer()).html(
						 pageTotal.toFixed(2)
					);


					var table = $('#UserTable').DataTable();
					if (!table.data().any()) {
						$('#UserTable tfoot').hide();
					} else {
						$('#UserTable tfoot').show();
					}

				}
			});
		});
    </script>
}
