<div id="printJewBarcode" class="hidden">
    <style>
        @@media print{
            @@page {
                size: 1.49in 1.05in;
                page-break-after: always;
                margin-left:0mm;
                margin-right:0mm;
                margin-top:0mm;
                margin-bottom:0mm;
            }
            @@page {
                @@bottom-right {
                    content: "";
                }

                @@bottom-left {
                    content: "";
                }

                @@top-right {
                    content: "";
                }

                @@top-left {
                    content: "";
                }
            } 
        }
        #bartable body {
            text-align: left;
        }
        #bartable tr {
            page-break-after: always;
        }

        #bartable td {
            text-align: center;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 0px;
            border-top: 0px;
        }

        #bartable h4 {
            margin-bottom: -6px;
            z-index: 1;
            position: relative;
            font-size: 0.9em;
        }

        .brcode {
            width: 150px;
            height: 30px;
        }

        #bartable {
            font-size: .9em;
            margin-bottom: 0px;
           
        }

        p {
                font-size: 0.65em;
                margin: 8px 0 -12px -27px;
                padding-top: 0px;
                text-align: left;
                margin-left: 10px;
                font-weight: 600;
        }
    </style>
    <table class="table" id="chkbartable"><tbody></tbody></table>
</div>
