@model List<MVC5_FileManager.Models.FileModel>

<h2>File Manager</h2>

<form method="post" enctype="multipart/form-data" action="/Hr/FileManager/Upload">
        @Html.AntiForgeryToken()
    <input type="file" name="file" />
    <select name="role">
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>
    <button type="submit">Upload</button>
</form>

<hr />

<table border="1">
<tr><th>File</th><th>Action</th></tr>

@foreach (var file in Model)
{
<tr>
    <td>@file.FileName</td>
    <td><a href="/FileManager/Download/@file.Id">Download</a></td>
</tr>
}
</table>
