@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Random rnd = new Random();
    int month = rnd.Next(1, 300);
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    An error occurred while processing your request.Please wait and try again


</h2>
<h1><a href="/Table/createatt?c=@month" class="btn btn-success">Try Again </a></h1>


