<div id="modal-invoiceList" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Update Invoice Price</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdatePayTrans", "CreditNote", FormMethod.Post, new { id = "PriceUpdater" }))
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="cninvoiceList">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Invoice No</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Grand Total</th>
                                    <th class="text-center">Paid</th>
                                    <th class="text-center">Credit</th>
                                    <th class="text-center">Balance</th>
                                    <th class="text-center">Credit Amount</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody id="invoiceList"></tbody>
                        </table>
                    </div>
                    <div class="form-actions no-color">
                        <input type="hidden" id="fnvalp" value="" />
                        <input type="submit" value="Update" class="btn btn-success col-sm-offset-4" />
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
