<div id="printit" class="hidden">
    <style>
      @@media print{
            @@page {
                /*size: 1.49in 1.010in;*/
                page-break-after: always;
                margin-left:0mm;
                margin-right:0mm;
                margin-top:0mm;
                margin-bottom:0mm;
            }
            @@page {
                @@bottom-right {
                    content: "";
                }

                @@bottom-left {
                    content: "";
                }

                @@top-right {
                    content: "";
                }

                @@top-left {
                    content: "";
                }
            } 
        }

        #sticker body {
            text-align: center;
        }

        #sticker tr {
            page-break-after: always;
        }

        #sticker td {
            text-align: center;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 0px;
            border-top: 0px;
        }

        #sticker h4 {
            margin-bottom: -6px;
            z-index: 1;
            position: relative;
            font-size: 100%;
        }

        /*.brcode {*/
        #sticker {
            width: 100%;
            height: 100%;
        }

        #sticker {
            font-size: 100%;
            margin-bottom: 0px;
        }

        p {
            font-size: 100%;
        }
    </style>
    <!-- Main content -->
   

    <div id="sticker"></div>
    
      
</div>
<script>

</script>
