
@{
    ViewBag.Title = "Map View";
    ViewBag.SubTitle = "Map Report";
    ViewBag.Active = "Reports";

}
<style>
    .datepicker {
        border-radius: 0px !important;
        /*height:30px!important;*/
    }

    .input-sm {
        height: 30px !important;
    }

    .fa-calendar {
        margin-left: -5px !important;
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Map View</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("mapviewshow", "ProTask", FormMethod.Get, new { id = "popupForm" }))
        {

            <div class="form-group col-md-2" id="creditsale">
                <label class="control-label">Customers</label>
                <input type="checkbox" name="chkcustomer" value="1" />


            </div>

            <div class="form-group col-md-2" id="creditsale">
                <label class="control-label">Task</label>
                <input type="checkbox" name="chktask" value="1" checked />
            </div>
            <div class="form-group col-md-2" id="creditsale">
                <label class="control-label">Amc-Open</label>
                <input type="checkbox" name="chkperiodic" value="1" />
            </div>
            <div class="form-group col-md-2" id="creditsale">
                <label class="control-label">Amc  Closed</label>
                <input type="checkbox" name="chkAmcs" value="1" />
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Up To", null, new { @class = "control-label" })
                <div class="input-group date">
                    @Html.TextBox("To", "", "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off", @Required = "required" })
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>



            <input type="hidden" name="lat" id="lat" />
            <input type="hidden" name="log" id="log" />

            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        }
    </div>
            </div>
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
  
        $(document).ready(function () {
           
           
            $('#To').datepicker({
                
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate()+7);
            $('#To').datepicker('setDate', today);
            CallCustomer();

        });
        var str2 = window.MyHandler.getpoint();

        setposfromclick(str2);
        function setposfromclick(va) {
            var ar = va.split(",");

            if (ar[0] != "null") {
                $("#lat").val(ar[0]);
                $("#log").val(ar[1]);
                //alert($("#lat").val());

               
            }
            else {
                //alert("your phone location permission not set");
                // window.location.reload();
            }
        }
    </script>
}
