@{
    ViewBag.Title = "Month Wise Purchase";
    ViewBag.SubTitle = "Purchase Report";
    ViewBag.Active = "Reports";

}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Month Wise Purchase</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("MonthWise", "PurchaseReport", FormMethod.Post, new { id = "popupForm", @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="control-label col-md-4"> Year</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        @Html.TextBox("Year", "", "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @required = "required", @autocomplete = "off" })
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer col-md-12">
                <input type="submit" class="btn btn-info col-sm-offset-5" value="Submit" />
                <button type="button" class="btn btn-default" onclick="@("window.location.href='/Home/Index'");">Cancel</button>
            </div>
        }
    </div>
</div>
@section style{
    @Styles.Render("~/css/bootstrap-datepicker")
}
@section Scripts {
    @Scripts.Render("~/js/bootstrap-datepicker")
    <script type="text/javascript">
        $('.date').datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years"
        });
        $('#Year').on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });


        $(document).ready(function () {
            //for set default date
            $('#Year').datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years"
            });
        });
    </script>
}

