<script async src="~/Content/plugins/qrbarcode/jspdf.umd.min.js"></script>
<div id="printit" class="hidden">
    <div id="editor"></div>
    <section class="invoice print">
        <div class="row" id="header">
            <div class="col-xs-12">
                <div class="text-center" id="comHeader">
                    @Html.Partial("../Common/_CompanyHeader")

                </div>
                <div class="text-center">
                    <style type="text/css">
                        @@media print {
                            body, .print {
                                border: 0px !important;
                            }

                            body, .print {
                                border: 1px !important;
                            }

                            .table-bordered td, .table-bordered th {
                                border: 1px solid #898989 !important;
                            }
                        }

                        body .print {
                            font-size: 12px;
                        }

                        .print .table-nob tr th {
                            width: 40%;
                        }
                    </style>
                    <h4>
                        <strong>SERVICE REPORT</strong>
                        @*@if (@ViewBag.CTaxRegNo != null)
                            {
                                <small class="taxno">Tax RegNo رقم التسجيل الضريبي: @ViewBag.CTaxRegNo</small>
                            }*@
                    </h4>
                </div>
            </div>
        </div>
        <hr class="lbreak" />
        <div class="row invoice-info">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td style="border-right: 0px;">
                            <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                <tr>
                                    <th>Job No </th>
                                    <td>: <label id="lblBillNo"></label></td>
                                </tr>
                                <tr>
                                    <th>Date </th>
                                    <td>: <label id="lblDate"></label></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <u><b>Customer Details</b></u>
                <table class="table table-bordered">
                    <tr>
                        <td style="border-right: 0px;">
                            <table class="table-nob noborder" style="border: 0px;width: 100%;">
                                <tr>
                                    <th>Customer </th>
                                    <td>: <label id="lblCustomer"></label></td>
                                </tr>
                                <tr>
                                    <th>Contact Person </th>
                                    <td>: <label id="lblContact"></label></td>
                                </tr>
                                <tr>
                                    <th>
                                        Address
                                    </th>
                                    <td>
                                        : <label id="lbladdress"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Phone
                                    </th>
                                    <td>
                                        : <label id="lblContactNumber"></label>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
                <u><b>Job Details</b></u>
                <table class="table table-bordered">
                    <tr>
                        <td style="border-right: 0px;">
                            <table class="table-nob noborder" style="border: 0px;width:100%">
                                <tr>
                                    <th>Referance </th>
                                    <td>: <label id="lblemployee"></label></td>
                                </tr>
                                <tr>
                                    <th>Job Status </th>
                                    <td>: <label id="lbljobstatus"></label></td>
                                </tr>
                                <tr>
                                    <th>
                                        Job Remarks
                                    </th>
                                    <td>
                                        : <label id="lblRemarks"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Time Consumed From
                                    </th>
                                    <td>
                                        : <label id="lblstarttime"></label> to <label id="lblendtime"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Engineer / Technicians </th>
                                    <td>: <label id="lbltechnicians"></label></td>

                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
                <u><b>Payment Details</b></u>
                <table class="table table-bordered">
                    <tr>
                        <td style="border-right: 0px;">
                            <table class="table-nob noborder" style="border: 0px;width:100%">
                                <tr>
                                    <th>Job </th>
                                    <td>: <label id="lbljobtype"></label></td>

                                </tr>
                                <tr>
                                    <th>Payment Recieved </th>
                                    <td>: <label id="lblpaytype"></label></td>

                                </tr>
                                <tr>
                                    <th>Amount </th>
                                    <td>: <label id="lblamountrecieved"></label></td>

                                </tr>
                                <tr>
                                    <th>
                                        cheque no
                                    </th>
                                    <td>
                                        : <label id="lblcheckno"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Bank
                                    </th>
                                    <td>
                                        : <label id="lblbank"></label>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>

                <u><b><hr /></b></u>
                <table class="table table-bordered">
                    <tr>
                        <th>Customer Name  </th>
                        <td> : </td>

                    </tr>
                    <tr>
                        <th>Customer Signature  </th>
                        <td> : </td>

                    </tr>
                </table>
                <div style="page-break-after:always"></div>
                <u><b>Item Used</b></u>
                <table id="itemused" width="100%">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Material Center</th>
                            <th>Item Code</th>
                            <th>Item name</th>
                            <th>Qty</th>
                            @*<th>Unit</th>
        <th>Price</th>
        <th>Total</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>

                            @*<td id="totalamount">Total</td>*@
                        </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Partial("../Common/_CompanyFooter")
                    </div>
                </div>
    </section>
</div>

