<div id="modal-itempriceupdater" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Update Item Price</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("PriceUpdater", "Item", FormMethod.Post, new { id = "PriceUpdater" }))
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="itempriceupdater">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Item</th>
                                    <th class="text-center">Selling Price</th>
                                    <th class="text-center">Purchase Price</th>
                                    <th class="text-center">Base Price</th>
                                    <th class="text-center">MRP</th>
                                </tr>
                            </thead>
                            <tbody id="itempriceupdaters"></tbody>
                        </table>
                    </div>
                    <div class="form-actions no-color">
                        <input type="hidden" id="fnvalp" value="" />
                        <input type="submit" value="Update" class="btn btn-success col-sm-offset-4" />
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
