@model QuickSoft.ViewModel.UpdateResumeDateViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Update Resume Date</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("UpdateResumeDate", "LeaveSettlement", FormMethod.Post, new { id = "createform" }))
    {
        <div class="row">
            @Html.HiddenFor(a=>a.LeaveSettlementID)
            <div class="col-md-12">
                @Html.Label("Date", null, htmlAttributes: new { @class = "control-label" })
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    @Html.TextBoxFor(m=>m.DutyResumeDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker input-sm", @autocomplete = "off", @required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box-footer">
                    <input type="submit" value="Submit" class="btn btn-info col-sm-offset-4" />
                    <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
        <script>
            var date = new Date();
            date.setDate(date.getDate());
            $('.datepicker').datepicker({
                //startDate: date,
                format: 'dd-mm-yyyy',
                autoclose: true,
                allowInputToggle: true
            });
        </script>
    }
</div>
