
@{
    ViewBag.Title = "Company Header List";
    ViewBag.SubTitle = "Company Header";
    ViewBag.Active = "CompanyHeader";

}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Company Header</h3>
        <div class="pull-right">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
            <a class="btn btn-info no-border" href="/CompanyHeader/Create">
                <i class="glyphicon glyphicon-plus"></i> Create Company Header
            </a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover" id="MyTable">
            <thead>
                <tr class="bg-gray">
                    <td data-priority="1">S/N</td>
                    <td data-priority="2">Name</td>
                    <td data-priority="3">Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

@Html.Partial("../Common/_ModalDelete")
@section scripts{
@Scripts.Render("~/js/jqueryval")
    <script type="text/javascript">
                var oTable = $('#MyTable').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "bStateSave": true,
                    "pageLength": 50,
                    responsive: false,
                    "ajax": {
                        "url": '/CompanyHeader/GetCompanyHeader',
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                             {
                                 "data": "CompanyHeaderID", "name": "CompanyHeaderID",
                                 "render": function (data, type, row, meta) {
                                     return meta.row + meta.settings._iDisplayStart + 1;
                                 }
                             },
                         { "data": "Name", "name": "Name" },
                         {
                             "data": "CompanyHeaderID", "name": "CompanyHeaderID", "render": function (data) {
                                 return '<a href="/CompanyHeader/Edit/' + data + '" title="Edit Company Header"><i class="fa fa-edit" style="font-size: large"></i></a> ' +
                                       '<a class="modal-delete" href="/CompanyHeader/delete/' + data + '" title="Delete Company Header"><i class="fa fa-trash" style="font-size: large"></i></a>';
                             }
                         },
                    ]
                });


                /* function for delete popup */
                $('#MyTable').on('click', '.modal-delete', function (e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    modalshow(url, '#modal-delete');
                });
                $('#modal-delete').on('submit', '#deleteform', function (e) {
                    e.preventDefault();
                    var url = $('#deleteform')[0].action;
                    var data = $('#deleteform').serialize();
                    createajax(url, data, '#modal-delete');
                });

    </script>
}
