@model QuickSoft.Models.PurchaseQuotation
@{
    ViewBag.Title = "Download Purchase Quotations";
}
<section class="content">
    <div class="AlertDiv">
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Download Purchase Quotations</h3>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Download", "PurchaseQuotation", FormMethod.Post, new { id = "popupForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Download" class="btn btn-danger col-sm-offset-4" />
                    <input type="button" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "PurchaseQuotation") + "'");" value="Cancel" data-dismiss="modal">
                </div>
            }
        </div>
    </div>
</section>

