@using CustomHtml
@using QuickSoft.Models
@using QuickSoft.ViewModel
@{ 
    var select = (ViewBag.selectedRoles != null) ? ViewBag.selectedRoles : null;
}
<div id="modal-permissionen" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Please Select To Enable Modules</h4>
            </div>
            <div class="modal-body">
                @{ MenuGenerate(ViewBag.UserRole,0, select); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@{ void MenuGenerate(MenuViewModel module, long parent = 0, IList<string> data = null)
{
    MenuViewModel sub = new MenuViewModel();
    sub.Menu = module.Menu;
    var submodule = sub.Menu;
    string menuchecked = "";
<ul id='tasks' class='item-list'>
    @foreach (var menus in module.Menu)
    {
        if (data != null)
        {
            menuchecked = (data.Contains(menus.Name)) ? "checked" : "";
        }
        if (menus.Parent == parent)
        {
            if (menus.IsParent == choice.Yes)
            {
                <li class="full">
                    <label class='checkbox-inline'><input type='checkbox' @menuchecked name='Roleen' value='@menus.Id' />@menus.viewName</label>
                    @{ MenuGenerate(sub, menus.ModulesID, data); }
                </li>
            }
            else
            {
                <li><label class='checkbox-inline'><input type='checkbox' @menuchecked name='Roleen' value='@menus.Id' />@menus.viewName</label></li>
               
            }
        }
    }
</ul>
} }