<!-- Modal -->
<div class="modal fade" id="running-orders" role="dialog">
    <div class="modal-dialog modal-large">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Running Orders</h4>
                <div class="col-md-12 col-xs-12">
                    <input type="text" class="form-control" id="txtfilterrunning" style="padding-left: 10px; border-radius: 0px !important; text-align: center;" placeholder="Search " />
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-">
                        <div class="scroll-box2" id="orderlistkot">
                            <!-- item list-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




