@model QuickSoft.Models.Payment
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Delete Payment</h4>
</div>
<div class="modal-body">
@if (Model.editable == 0)
{
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    using (Html.BeginForm("Delete", "Payment", FormMethod.Post, new { id = "deleteform" }))
            {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger col-sm-offset-4" />
            <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
        </div>
    }
}
else
{
    <h3>Sorry, This Payment Cannot be Deleted.</h3>
}
</div>
