@using (Html.BeginForm("otherise", "EnableSetting", FormMethod.Post))
    {
<div class="row">
    <div class="cols-md-4">
        <div class="form-group">
            @Html.Label("Enter Password")
            @Html.Password("password","" ,new { HtmlAttributes = new { @requred = "required" } })

        </div>

    </div>

</div>
<div class="row">
    <div class="cols-md-4">
        <div class="form-group">
          <input type="submit" name="login" value="login"/>

        </div>

    </div>
</div>
}