@if (@ViewBag.Footer != "" && @ViewBag.Footer != null)
{
    <div id="ComfootCheck" class="logo">
        <img src="~/uploads/companyheader/footer/@ViewBag.Footer" width="100%" ID="ImageButton2" class="img-responsive img-fluid" style="padding-top: 5px;"/>
    </div>
}
