@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel

@{
    var title = Model.InvoiceField.Where(a => a.Type == "Title").First();

    var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase") ?
        Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
        Model.InvoiceField.Where(a => a.Type == "Customer").First();
    var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();

    string saleclass = Model.Type == "Sale" ? "class=\"hidden\"" : "";
    string lpoclass = Model.Type == "LPO" ? "class=\"hidden\"" : (PO_No != null && PO_No.Status == Status.inactive) ? "class=\"hidden\"" : "";

    string myclass = "";
}


<div id="printit" class="hidden" style="border:none;">
    <div id="normal">
        <style>
            body {
                font-family: font-family: -apple-system, BlinkMacSystemFont, sans-serif font-style: normal !important;
            }

            #pageborder {
                position: fixed;
                left: 10px;
                right: 10px;
                top: 10px;
                bottom: 10px;
                overflow: hidden
            }

            @@media print {
                @@page {
                    size: A4;
                    margin: 20px !important;
                }
            }

            #comHeader {
                display: table-header-group;
                height: 50px !important;
            }



            #content:after {
                display: block;
                content: "";
                margin-bottom: 1mm; /* must be larger than largest paper size you support */
            }

            .bg-blue {
                background-color: rgb(255 216 0) !important;
                -webkit-print-color-adjust: exact;
            }

            .aligquote2 th, .aligquote2 label, #itemtable th, #itemtable label {
                padding: 0px !important;
                margin-bottom: 0px !important;
            }

            .quicknet-title {
                font-size: large !important;
                font-weight: bolder !important;
                color: black !important;
            }

            .quicknet-title-span {
                font-size: x-large !important;
                color: black !important;
            }

            .quicknet-adress {
                margin-left: 10px !important;
                color: black !important;
                text-align: left !important;
                font-size: medium;
                font-weight: 800;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            }

            .quote-height {
                height: 0px;
                padding: 0px;
                margin-top: -10px !important;
            }

            .quote-title {
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                text-transform: uppercase;
                color: black !important;
                font-weight: 600;
                font-size: large;
            }

            .bg-header {
                background-color: rgb(58 107 196 / 0.88) !important;
                -webkit-print-color-adjust: exact;
                margin-left: 40px !important;
            }

            .table-top-border th {
                border-top: 2px solid black !important;
                background-color: white !important;
                color: black;
                -webkit-print-color-adjust: exact;
            }

            #blue-Border-top {
                border-top: 2px solid rgb(13 131 221) !important;
                /*background-color: white !important;*/
                -webkit-print-color-adjust: exact;
            }

            .text-blue {
                -webkit-print-color-adjust: exact;
                color: black !important;
            }

            .table {
                width: 99% !important;
                overflow: hidden;
            }

            #stripes table {
                width: 96% !important;
            }

            #stripes tr {
                border-bottom: 1px solid rgb(154 178 253 / 0.32);
            }

                #stripes tr:nth-child(even) td {
                    background: white !important;
                    -webkit-print-color-adjust: exact;
                }

                #stripes tr:nth-child(odd) td {
                    background: white !important;
                    -webkit-print-color-adjust: exact;
                }



            .aligquote2 tr:nth-child(odd) th {
                text-align: left !important;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
                font-size: 13px;
            }

            .aligquote2 tr:nth-child(even) th {
                text-align: left !important;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
                font-size: 13px;
            }

            .aligquote2 tr:nth-child(odd) td {
                vertical-align: bottom;
                padding: 0px;
            }

            .aligquote2 tr:nth-child(even) td {
                vertical-align: bottom;
                padding: 0px;
            }

            .aligquote2 label {
                font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
            }

            .customerfont {
                font-family: font-family: -apple-system, BlinkMacSystemFont, sans-serif font-style: normal !important;
                font-size: 13px;
                padding-bottom: 0px;
                padding-top: 0px;
                margin-bottom: 30px !important;
            }

            .customerfontt {
                font-family: font-family: -apple-system, BlinkMacSystemFont, sans-serif font-style: normal !important;
                font-size: 13px;
            }

            .table {
                margin-bottom: 5px !important;
            }

            .table-head-total {
                border: 1px solid white !important;
                /* margin-top: -10px;*/
                margin-left: 8px;
            }

            .black-bg-tb thead {
                border: 1px solid grey !important;
            }

            .black-bg-tb th:nth-child(even) {
                background: transparent;
                -webkit-print-color-adjust: exact;
                margin-top: 5px !important;
                font-size: larger;
            }


            @@media print {
                thead {
                    display: table-header-group;
                }

                tfoot {
                    display: table-footer-group;
                }
            }

            .quicknet-title {
                font-size: xx-large !important;
                font-weight: bolder !important;
                color: black !important;
            }

            .quicknet-adress {
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                margin-left: 20px !important;
                color: black !important;
                font-size: medium;
                font-weight: 600;
                text-align: left !important;
                margin-top: 20px;
                /*margin-bottom: 30px;*/
            }

            .quote-title {
                margin-left: 7px;
                margin-top: 17px;
                text-transform: uppercase;
                // color: white !important;
                font-weight: 600;
                font-size: large;
            }


            .customer-style td {
                font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
            }

            .customer-style label {
                font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
            }

            .page-header {
                height: 150px !important;
                padding-right: 100px !important;
            }

            .page-footer {
                height: 100px !important;
            }


            .page-header-space {
                height: 170px !important;
                margin-bottom: 0px !important;
                margin-top: 10px !important;
                -webkit-print-color-adjust: exact;
            }

            .page-footer-space {
                height: 100px !important;
            }

            .page-footer-space, .page-header-space {
            }

            .page-header {
                position: fixed;
                margin-top: 0px;
                padding: 0px !important;
                bottom: 0px;
                top: 0px;
                width: 100%; /* for demo */
                // background: rgb(13 131 221) !important; /* for demo */
                -webkit-print-color-adjust: exact;
                border-bottom: 0px solid white !important;
                border-top: 7px solid white !important;
            }

            .page-footer {
                position: fixed;
                margin-bottom: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                width: 100%; /* for demo */
                -webkit-print-color-adjust: exact;
            }

            #parallelogram {
                background-color: white !important;
                -webkit-print-color-adjust: exact;
                width: 350px;
                height: 130px;
                margin: 0 0 0 -30px;
                -webkit-transform: skew(-20deg);
                -moz-transform: skew(-20deg);
                -o-transform: skew(-20deg);
                background: red;
                overflow: hidden;
                position: relative;
            }

            .image {
                background-color: white !important;
                -webkit-print-color-adjust: exact;
                position: absolute;
                top: -30px;
                left: -30px;
                right: -30px;
                bottom: -30px;
                -webkit-transform: skew(20deg);
                -moz-transform: skew(20deg);
                -o-transform: skew(20deg);
            }

            .top-img {
                position: absolute;
                top: 0px;
                left: 300px;
            }

            .bottom-img {
                position: relative;
                top: 30px;
                margin-left: 20px !important;
            }

            .invo-top-details {
                position: absolute;
            }
        </style>
        <!-- Main content -->
        <div class="page-header" id="ComHeadCheck">
            <div class="row" style="">
         

                <div class="col-5 col-md-5">
                    <div id="qrcode" style="display:none"></div>
                 
                </div>




                <div class="col-12 col-xs-12 col-md-12 quote-height">

                    <h4 class="text-center">
                        <strong class="quote-title">Invoice</strong>
                    </h4>

                </div>

            </div>
        </div>
        <div class="container-fluid" style="margin-bottom:0px; padding:0px;">
            <table class="">
                <thead>
                    <tr>
                        <td>
                            <!--place holder for the fixed-position header-->
                        
                        </td>
                    </tr>

                </thead>


                <tbody id="content">
                    <tr class="row">
                        <td class=" table-responsive">


                            <div id="itemSection">
                                <table class="table customer-style" id="itemtable" style="font-size: 12px; margin-top:-15px; width:765px !important">
                                    <thead style="display:contents">
                                        <tr>
                                            <td colspan="14">
                                                <div class="row">
                                                    <div class="col-xs-7 float-right " style="">
                                                        <table class="table" id="itemtable" style="width: 100% !important;font-size: 15px; border-collapse: separate !important; border-spacing: 0px !important; ">
                                                            <thead style="display:contents">
                                                                <tr>
                                                                    <td colspan="6" class="customerfont" style="padding-bottom: 0px; padding-top: 3px"><i><b>Customer </b></i></td>
                                                                </tr>
                                                                <tr>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="14" style="padding-bottom: 0px; padding-top: 0px"><label style="font-size: 15px; " id="lblParty" class="customerfontt"></label></td>
                                        </tr>
                                     
                                    </thead>
                                </table>
                            </div>
                            <div class="col-xs-5 ">
                                <table class=" table table-bordered" id="itemtable" style="margin-left: 0px !important; margin-top: 5px !important; font-size: 12px; ">
                                    <thead class="aligquote2" style="display:contents; ">
                                        <tr>
                                            <th style="padding-left:7px;">Bill No :</th>
                                            <td>: <label id="lblBillNo"></label></td>
                                        </tr>
                                       
                                    </thead>
                                </table>

                            </div>
                        </td>



                    </tr>
                    <tr class="table-top-border " id="blue-Border-top">
                        <th bgcolor="black" class="text-blue" width="6%">S/N </th>
                        <th class="text-blue" id="PoNo">Part No</th>
                        <th class="text-blue" width="54%">Item</th>
                        <th class="makehide text-blue">Make</th>
                        <th class="text-blue">Unit</th>
                        <th class="text-blue">Qty</th>
                        <th class="itemdata text-blue" style="text-align:right">U.Price</th>
                        <th class="itemdata text-blue" style="display:none;">Total </th>
                        <th class="itemdata text-blue" style="display:none;"> </th>
                        <th class="itemdata text-blue" style="text-align:right">Total </th>
                    </tr>

                <tbody id="stripes">
                    <tr>
                        <th>item 1</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>item 2</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </tbody>
            </table>
        </div>

        </td>
        </tr>

        <tr class="row" style="border:0px solid gray; margin-top:10px !important;">
            <td class="col-xs-12 table-responsive">
                <table class="table  table-head-total customer-style" id="wordHtml">
                    <tbody class="black-bg-tb"></tbody>
                </table>
            </td>
        </tr>



        <tr class="row">
            <td class="col-xs-12 table-responsive">
                <table class="table customer-style" id="itemtable1">
                    <tbody></tbody>
                </table>
            </td>
        </tr>
        
        </tbody>
        <tfoot class="global-footer">
            <tr>
                <td>
                    <!--place holder for the fixed-position footer-->
                </td>
            </tr>
        </tfoot>

        </table>
    </div>
    <table>
    </table>
    <div class="page-footer">
        <table>
            <tr class="row">
                <td class="col-xs-12 table-responsive">
                    <table class="table  second-table"></table>
                </td>
            </tr>
            <tr class="row" id="footer">
                <td class="col-xs-12 table-responsive">
                    <table class="table ">
                        @*<tr>
                                <td rowspan="3" style="width:50%;">
                                    @Foot_1.Value :<br />
                                    @Foot_1.Lang

                                </td>
                                <td colspan="3" rowspan="3">
                                    @Foot_2.Value.Replace("{company}", ViewBag.CName)<br />
                                   @Foot_2.Lang
                                </td>
                            </tr>*@
                    </table>
                </td>
            </tr>

        </table>
    </div>
    </tfoot>
    </table>
</div>
<div id="ubnormal">
    <style>
        #ubnormal {
            font-family: 'Times New Roman' !important;
        }

        .text-blue {
            -webkit-print-color-adjust: exact;
            color: black !important;
        }
    </style>


</div>

</div>
