<div id="printBarcode" class="hidden">
    <style>
        #bartable body {
            text-align: center;
        }

        #bartable td {
            text-align: center;
            padding-bottom: 0px;
            padding-top: 7px;
        }

        #bartable h4 {
            margin-bottom: -6px;
            z-index: 1;
            position: relative;
            font-size: 0.9em;
        }

        .brcode {
            width: 150px;
            height: 60px;
        }

        #bartable {
            font-size: .9em;
            margin-bottom: 0px;
        }

        p {
            font-size: .65em;
        }
    </style>
    <!-- Main content -->
    <table class="table" id="bartable"></table>
</div>
