@if (@ViewBag.Footer != "" && @ViewBag.Footer != null)
{
 <div id="ComfootCheck" class="logo">
           
            <div style="float:right;width:20%;" id="zeal">
<img src="~/uploads/companyheader/footer/zeal.jpg" width="100%" ID="ImageButton2" class="img-responsive img-fluid" />
            </div>
           
            <img src="~/uploads/companyheader/footer/@ViewBag.Footer" width="100%" ID="ImageButton2" class="img-responsive img-fluid" style="padding-top: 5px;" />
        </div>
  
}
