@model QuickSoft.Models.TermsAndConditions
@{
    ViewBag.Title = "Terms & Condition";
    ViewBag.SubTitle = "Terms & Condition";
    ViewBag.Active = "Settings";
}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Terms & Condition</h3>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Index", "TermsCondition", FormMethod.Post, new { id = "popupFormEdit" }))
            {
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.TermsCondit, new { @class = "control-label" })*
                        @Html.TextAreaFor(m => m.TermsCondit, new { @class = "form-control input-sm", @rows = 10 })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-info col-sm-offset-5" value="Update" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

@section Scripts {
@*<script type="text/javascript" src="/Content/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                CKEDITOR.replace('TermsCondit');
            });
        });
    </script>*@
}


