@using QuickSoft.Models
@model QuickSoft.ViewModel.POSEntryViewModel
@{ 
    string PayMethod = "";
    if (ViewBag.posdata != null)
    {
        var posdata = ViewBag.posdata;
        PayMethod = posdata.PayMethod;
    }
    string select = "";

    string keytext = "";
    string keyno = "";
  
      //  keytext = "qwerty";
       // keyno = "numbers";
  
}
<!-- Modal -->
<div class="modal fade" id="payModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-black">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Payment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-sm-9">
                        <div class="form-group">
                            <label for="sale_note">SaleNote</label>
                            <textarea name="SENote" cols="20" id="SENote" class="form-control @keytext" placeholder="SaleNote"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div id="payments">
                            <div class="well well-sm well_1">
                                <div class="payment">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="amount">Amount</label>
                                                <input name="amount" id="amount" class="form-control amount @keyno" value="0.00" type="text">
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-3"> @*col-sm-offset-1*@
                                            <div class="form-group" style="display:none;">
                                                <label for="PayMethod">PaymentMethod</label>
                                                <select name="PayMethod" id="PayMethod" class="form-control paid_by" title="Payment Method">
                                                    @*@{select = (PayMethod == "cash") ? "selected" : "";}
                                                    
                                                    <option @select value="cash">Cash</option>
                                                    @{select = (PayMethod == "card") ? "selected" : "";}
                                                    
                                                    <option @select value="card">Card</option>*@
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="divPayMode" hidden>
                                            <div class="form-group">
                                                <label for="PayMode">PaymentMode</label>
                                                @Html.DropDownListFor(m => m.PayMode, (SelectList)ViewBag.PaymentMode, new { @id = "PayMode", @class = "form-control input-sm select2" })
                                                @*<select name="PayMode" id="PayMode" class="form-control" title="Payment Mode">
                                                    <option value="Visa">Visa</option>
                                                    <option value="Master">Master</option>
                                                    <option value="Talabat">Talabat</option>
                                                    <option value="Zomato">Zomato</option>
                                                    <option value="Carriage">Carriage</option>
                                                </select>*@
                                            </div>
                                        </div>
                                      
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="amount">ServiceExpense</label>
                                                <input name="ServiceExpense" id="ServiceExpense" class="form-control amount @keyno" value="0.00" type="text">
                                            </div>
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <table class="table table-bordered table-condensed table-striped">
                                <tbody>
                                    <tr>
                                        <td width="25%">TotalItems</td>
                                        <td class="text-right" width="25%"><span id="ItemCounts">0</span></td>
                                        <td width="25%">TotalPayable</td>
                                        <td class="text-right" width="25%"><span id="total_payables">0.00</span></td>
                                    </tr>
                                    <tr>
                                        <td>TotalPaying</td>
                                        <td class="text-right"><span id="total_paying">0.00</span></td>
                                        <td>Balance</td>
                                        <td class="text-right"><span id="balance">0.00</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btn-block btn-flat btn-lg btn-success" type="submit" id="save">Save</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-block btn-flat btn-lg btn-success" type="submit" id="print">SaveAndPrint</button>
                                </div>
                                <div class="col-md-2">
                                    Dual Print<input type="checkbox" id="chkdual" name="chkdual"  />
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 text-center">
                        <div class="btn-group btn-group-vertical">
                            <button type="button" class="btn btn-lg btn-info quick-cash" id="quick-payable">0</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">0.25</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">0.50</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">1</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">5</button>

                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">10</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">20</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">50</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">100</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">500</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">1000</button>

                            <button type="button" class="btn btn-lg btn-danger" id="clear-cash-notes" tabindex="-1">Clear</button>
                            <input type="hidden" value="" name="amount025" id="amount025" />
                            <input type="hidden" value="" name="amount050" id="amount050" />

                            <input type="hidden" value="" name="amount5" id="amount5" />
                            <input type="hidden" value="" name="amount10" id="amount10" />
                            <input type="hidden" value="" name="amount20" id="amount20" />
                            <input type="hidden" value="" name="amount50" id="amount50" />
                            <input type="hidden" value="" name="amount100" id="amount100" />
                            <input type="hidden" value="" name="amount500" id="amount500" />
                            <input type="hidden" value="" name="amount1000" id="amount1000" />



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
