@model QuickSoft.Models.TaskImage
<div class="modal-header">
    <button type="button" class="close closed" aria-hidden="true">&times;</button>
    <h4>Delete Item Image</h4>
</div>
<div class="modal-body">
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    @using (Html.BeginForm("ImageDelete", "ProTaskNonTech", FormMethod.Post, new { id = "popupFormItemImage" }))
            {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger col-sm-offset-4" />
            <input type="button" class="btn btn-default closed" value="Cancel">
        </div>
    }
</div>
