<meta name="viewport" content=" initial-scale=1">
<h2>
    <ul>

        <li><a href="/Uploads/emirtech.apk">Download Lates App and Install</a></li>
        <li>if not download , copy following link enter in your browser, then install</li>
        <li><input type="text" value="http://uk.ath.cx:1091/Uploads/emirtech.apk"  style="width:100%;padding:20px;"/></li>


    </ul>
</h2>