@model List<QuickSoft.ViewModel.SelectFormatpro>
<link href="~/Content/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<form action="/ProTask/taskcal" method="post">
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <div class="input-group date">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                @Html.TextBox("taskdate", "select date", new { @class = "form-control datepicker input-sm", @autocomplete = "off" })
            </div>
        </div>
    <div class="col-md-2">
        <input type="submit" value="show" />
    </div>
        </div>
</form>

    @{


        for (var i = 0; i < Model.Count; i++)
        {
            <div style="width:300px;float:left;">

                <iframe src="/ProTask/cald?driver=@Model[i].id&taskdate=@Model[i].dt" id="iframe-@i" style="width:300px;float:left;height:600px;" frameborder="0"></iframe>
              </div>  
                }

                }
          
            <script>
                var date = new Date();
                date.setDate(date.getDate());
                $('.date').datepicker({

                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    allowInputToggle: true
                });
            </script>

