@{
    ViewBag.Title = "Back Up Database";
    ViewBag.SubTitle = "Back Up Database";
    ViewBag.Active = "Utility";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Back Up Database</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("BackUpdone", "BackUpRestore", FormMethod.Post, new { @id = "createform", role = "form", @class = "form-horizontal"}))
        {
            <div class="form-group">
                <h1>@Html.Raw(@ViewBag.link)</h1>

                <div class="col-sm-3">
                    <!--<input type="text" name="filepath" class="form-control" id="filepath" value="@ViewBag.FPath"/>-->    @*, @placeholder = "eg:  D:\Folder Name"*@
                </div>
            </div>
            <div class="box-footer col-md-12">
                <input type="submit" id="submit" class="btn btn-info col-sm-offset-5" value="Backup" />
                @*<input type="button" class="btn btn-default" value="Reset" id="btnreset" />*@
            </div>
        }
    </div>
</div>

<div id="backupWaitOverlay" style="display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.65);z-index:9999;color:#fff;text-align:center;">
    <div style="margin-top:20vh;">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <h3 style="margin-top:15px;">Backing up database, please wait...</h3>
        <p>This can take a few minutes for large databases. Do not close or refresh this page.</p>
    </div>
</div>

<script>
    document.getElementById('createform').addEventListener('submit', function () {
        document.getElementById('backupWaitOverlay').style.display = 'block';
        document.getElementById('submit').disabled = true;
    });
</script>
