<!-- Modal -->
<div class="modal fade" id="dineInModel" role="dialog">
    <div class="modal-dialog modal-large">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Select a Table</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 rpos" id="tabledetail">
                        <div class="text-center">
                            <h4><label id="lblTable"></label><label hidden id="lbltableval"></label> </h4>
                        </div>
                        <p><span>Maximum Seats : </span><label id="lblmaxseat"></label></p>
                        <div id="seatused">
                            <p><span>Seat Used : </span><label id="lblusedseat"></label></p>
                        </div>
                        <p><span>Status : </span><label id="lblstatus"></label></p>
                        <div id="peoplecount">
                            <p><span>People Count : </span><input value="" class="numbers" type="number" id="lblpeoplcount" /></p>
                            <button type="button" class="btn btn-success btn-full" id="tablesubmit">Save</button>
                        </div>
                       
                    </div>
                    <div class="col-md-9 rpos">
                        <div class="scroll-box2" id="tablelist">
                            <!-- item list-->
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer buttonalign" >
                <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>*@
        </div>
    </div>
</div>



