<section class="content hidden print" id="printit">
    <style>
        #invoice-POS {
            padding: 2mm;
            padding-top: 0;
            padding-bottom: 0;
            margin: 0 auto;
            width: 100%;
            background: #FFF;
            /*border: 1px solid #f0f0f0;*/
            /*max-width: 250px;*/
        }

            #invoice-POS ::selection {
                color: #FFF;
            }

            #invoice-POS ::moz-selection {
                color: #FFF;
            }

            #invoice-POS h1 {
                font-size: 1.5em;
                color: #222;
            }

            #invoice-POS h2 {
                font-size: 1em;
                margin: 0px 0;
                padding-top: 3px;
                padding-bottom: 3px;
            }

            #invoice-POS h3 {
                font-size: 1.2em;
                font-weight: 600;
                line-height: 2em;
                margin-bottom: 0px !important;
                margin-top: 0px;
            }
             #invoice-POS h5 {
                font-weight: 500;
                margin-top: 0px;
            }


            #invoice-POS p {
                font-size: .9em;
                color: #666;
                line-height: 1.2em;
                margin-bottom: 1px;
            }

            #invoice-POS #top, #invoice-POS #mid, #invoice-POS #bot {
                /* Targets all id with 'col-' */
                border-bottom: 1px solid #EEE;
                margin-bottom: 5px;
            }

            /*#invoice-POS #top {
                min-height: 100px;
            }*/

            /*#invoice-POS #mid {
                min-height: 80px;
            }*/

            #invoice-POS #bot {
                min-height: 50px;
            }

            #invoice-POS #top .logo {
                height: 60px;
                width: 60px;
                background-size: 60px 60px;
            }

            #invoice-POS .clientlogo {
                float: left;
                height: 60px;
                width: 60px;
                background: url() no-repeat;
                background-size: 60px 60px;
                border-radius: 50px;
            }

            #invoice-POS .info {
                display: block;
                margin-left: 0;
                margin-bottom: 5px;
            }

            #invoice-POS .title {
                float: right;
            }

                #invoice-POS .title p {
                    text-align: right;
                }

            #invoice-POS table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 5px;
                border-bottom: 1px #898989;
            }

            #invoice-POS .tabletitle {
                font-size: .85em;
                border-bottom: 1px solid #EEE;
            }

            #invoice-POS .service {
                border-bottom: 1px solid #EEE;
            }

            #invoice-POS .item {
                width: 24mm;
                padding-top: 3px;
                padding-bottom: 3px;
            }

            #invoice-POS .itemtext {
                font-size: .65em;
                margin-bottom: 1px;
            }

            #invoice-POS #legalcopy {
               margin-top: 1.5mm;
            }

            #invoice-POS .rate {
                text-align: right;
            }

            #invoice-POS .qty {
                text-align: center;
            }
             #invoice-POS .price {
                text-align: center;
            }

            #invoice-POS hr {
                margin: 5px 0;
            }

            .noborder th {
                 border-bottom: 1px #898989;
            }

            .noborder tr {
                 border: none;
            }

            .noborder td {
                 border: none;
            }


    </style>
    <div id="invoice-POS">

        <center id="top">

            @*@if (@ViewBag.CLogo != null)
            {
                <div class="logo"><img class="img-responsive" src="../uploads/company/@ViewBag.CLogo" /></div>
            }
            <div class="info">
            </div>*@
            <div class="info">
                @{ ViewBag.chkLogo = "logo";}
                @Html.Partial("../Common/_CompanyHeader")
            </div>

        </center><!--End InvoiceTop-->
        <div class="text-center">
            @if (ViewBag.CTaxRegNo != null)
            {
                <h4>
                    Tax Invoice
                </h4>
            }
            else
            {
                <h4>
                    Invoice
                </h4>
            }
        </div>
        <div id="mid">
            <div class="info">
                <p><span>Invoice No رقم الفاتورة:</span><label id="lblBillNo"></label></p>
                @*<p><span>PO No :</span><label id="lblPONo"></label></p>*@
                <p><span>Date تاريخ:</span><label id="lblDate"></label></p>
                @*<p><span>Cashier :</span><label id="lblEmployee"></label></p>*@
                <p><span>Customer زبون:</span><label id="lblCustomer"></label></p>
            </div>
        </div><!--End Invoice Mid-->

        <div id="bot">

            <div id="table">
                <table class="table-nob noborder" id="itemtable">
                    <thead>
                        <tr class="tabletitle thead">
                            @*<th class="slno"><h2>S.N.</h2></th>*@
                            <th class="item"><h2>Item بند</h2></th>
                            <th class="qty"><h2>Unit وحدة</h2></th>
                            <th class="qty"><h2>Qty كمية</h2></th>
                            <th class="qty"><h2>Unit Price السعر</h2></th>
                            <th class="rate"><h2>Amount كمية</h2></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr class="tabletitle">
                            <td colspan="4" class="Rate"><h2><strong>Tax ضريبة</strong></h2></td>
                            <td class="rate"><h2 id="lblTax"></h2></td>
                        </tr>
                        <tr class="tabletitle discpt">
                            <td colspan="4" class="Rate"><h2><strong>Discount Amount</strong></h2></td>
                            <td class="rate"><h2 id="lblDiscAmt"></h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td colspan="4" class="Rate"><h2><strong>Total مجموع</strong></h2></td>
                            <td class="rate"><h2 id="lblTotal"></h2></td>
                        </tr>
                        <tr class="tabletitle roundpt">
                            <td colspan="4" class="Rate"><h2><strong>Round Off(-)</strong></h2></td>
                            <td class="rate"><h2 id="lblRoundOff"></h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td colspan="4" class="Rate"><h2><strong>Grand Total المبلغ الإجمالي(aed)</strong></h2></td>
                            <td class="rate"><h2 id="lblGTotal"></h2></td>
                        </tr>
                    </tfoot>
                </table>
            @{
                var cclass = "";
                if(ViewBag.savePrint == 0)
                {
                    cclass = " class=hidden";
                }
            }
                <p @cclass>
                    Payment Method: <span><label id="lblpay"></label></span><br/>
                    Total Tender: <span><label id="lbltender"></label></span><br/>
                    Change Due: <span><label id="lbldue"></label></span>
                </p>
            </div><!--End Table-->

            <div id="legalcopy">
                <p class="legal">
                    <strong><label id="lblTC"></label></strong>  @*Payment is expected within 31 days; please process this invoice within that time. There will be a 5% interest charge per month on late invoices.*@
                </p>
            </div>
            <div class="text-center">
                @Html.Partial("../Common/_CompanyFooter")
            </div>
        </div><!--End InvoiceBot-->
    </div><!--End Invoice-->
</section>