@using QuickSoft.Models
@model QuickSoft.ViewModel.POSEntryViewModel
@{ 
    string PayMethod = "";
    if (ViewBag.posdata != null)
    {
        var posdata = ViewBag.posdata;
        PayMethod = posdata.PayMethod;
    }
    string select = "";

    string keytext = "";
    string keyno = "";
    if (ViewBag.KBEnable == 0)
    {
        keytext = "qwerty";
        keyno = "numbers";
    }
}
<!-- Modal -->
<div class="modal fade" id="payModal" role="dialog">
    <div class="modal-dialog modal-large">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-black">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Payment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="clearfix"></div>
                        <div id="payments">
                            <div class="well well-sm well_1">
                                <div class="payment">
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <textarea name="SENote" rows="8" id="SENote" class="form-control @keytext" placeholder="Sale Note"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="pull-left" for="amount">Amount</label>
                                                <input name="amount" id="amount" class="form-control amount @keyno" value="0.00" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="pull-left" for="PayMethod">Payment Method</label>
                                                <select name="PayMethod" id="PayMethod" class="form-control paid_by"title="Payment Method">
                                                    @*@{select = (PayMethod == "Cash") ? "selected" : "";}
                                                    
                                                    <option @select value="Cash">Cash</option>
                                                    @{select = (PayMethod == "Card") ? "selected" : "";}                                                    
                                                    <option @select value="Card">Card</option>
                                                    @{select = (PayMethod == "Credit") ? "selected" : "";}
                                                    <option @select value="Credit">Credit</option>*@
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="divPayMode" hidden>
                                            <div class="form-group">
                                                <label for="PayMode">Payment Mode</label>
                                                @Html.DropDownListFor(m=>m.PayMode, (SelectList)ViewBag.PaymentMode, new {@id="PayMode", @class = "form-control input-sm select2" })
                                                @*<select name="PayMode" id="PayMode" class="form-control" title="Payment Mode">
                                                    <option value="Visa">Visa</option>
                                                    <option value="Master">Master</option>
                                                    <option value="Talabat">Talabat</option>
                                                    <option value="Zomato">Zomato</option>
                                                    <option value="Carriage">Carriage</option>
                                                </select>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <table class="table table-bordered table-condensed table-striped">
                                <tbody>
                                    <tr>
                                        <td width="25%">Total Items</td>
                                        <td class="text-right" width="25%"><span id="ItemCounts">0</span></td>
                                        <td width="25%">Total Payable</td>
                                        <td class="text-right" width="25%"><span id="total_payables">0.00</span></td>
                                    </tr>
                                    <tr>
                                        <td>Total Paying</td>
                                        <td class="text-right"><span id="total_paying">0.00</span></td>
                                        <td>Balance</td>
                                        <td class="text-right"><span id="balance">0.00</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                             <div class="row">
                                <div class="col-md-6">
                                     <button class="btn btn-block btn-flat btn-2x btn-success" type="submit" id="save">Save</button>
                                </div>
                                <div class="col-md-6">
                                     <button class="btn btn-block btn-flat btn-2x btn-success" type="submit" id="print">Save And Print</button>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="btn-group btn-group-vertical">
                            <button type="button" class="btn btn-lg btn-info quick-cash" id="quick-payable">0</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">5</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">10</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">20</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">50</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">100</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">500</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">1000</button>
                            <button type="button" class="btn btn-lg btn-warning quick-cash" tabindex="-1">5000</button>
                            <button type="button" class="btn btn-lg btn-danger" id="clear-cash-notes" tabindex="-1">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
