@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel
@{
    //var title = Model.InvoiceField.Where(a => a.Type == "Title").First();
    //var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase" || Model.Type == "LPO") ?
    //    Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
    //    Model.InvoiceField.Where(a => a.Type == "Customer").First();
    //var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    //var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    //var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    //var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    //var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    //var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    //var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    //var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    //var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    //var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    //var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    //var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    //var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    //var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    //var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    //var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    //var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    //var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    //var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    //var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    //var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    //var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    //var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    //var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    //var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    //var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    //var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    //var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();


    string myclass = "";
}

<div id="printit" class="hidden" width="800" style="margin:0 auto;">


    <style>










        @@media print {
            @@page{
                size:A4;
                margin:5px !important;
            }
            body {
                background: #f4f4f5;
                background-image: url(/uploads/invoice/border.png) !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                -webkit-print-color-adjust: exact;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-print-color-adjust: exact;
            }
        }

       

        body {
            background: #f4f4f5;
            background-image: url(/uploads/invoice/border.png) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            -webkit-print-color-adjust: exact;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-print-color-adjust: exact;
        }

        #itemtable tr > *:nth-child(5) {
            display: none;
        }

        #itemtable tr > *:nth-child(6) {
            display: none;
        }

        #itemtable tr > *:nth-child(7) {
            display: none;
        }

        #itemtable tr > *:nth-child(8) {
            display: none;
        }

        #itemtable tr > *:nth-child(9) {
            display: none;
        }

        .footer-page {
            position: fixed !important;
            bottom: 20px !important;
        }
    </style>
    <div class="page-header">
        <div class="row" style="padding:0px;">
            <div class="col-8 col-md-8" style="padding:0px;">


                <div class="image">
                    <img src="/Content/img/logo.png" width="100" style="float: left; margin-top: 45px; margin-left: 50px;">

                    <div class="" style=" text-align: left; padding-left: 5px; float: left; margin-top: 45px;">
                        <h4>
                            <strong class="quicknet-title">
                                <div style="margin-top:20px;font-size: 17px;margin-left: -15px;">
                                    EMIRTECH TECHNOLOGY - L.L.C - O.P.C
                                </div>

                            </strong>
                        </h4>

                    </div>

                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="quicknet-adress" style="
    display: block;
    font-size: 14px;
    position: absolute;
    right: 68px;
    top: 63px;
">
                    Mussafah - 44<br>
                    B49,Elite Business Zone<br>
                    Abu Dhabi, UAE<br>
                    www.emirtech.ae<br>
                    TRN : 104382707800003
                </div>

            </div>
        </div>

    </div>
    <br />

    <H4 style="
    text-align: center;font-weight:bold
">
        WORK COMPLETION CERTIFICATE
    </H4>
<hr />
    <br>
    <div class="row">
        <div class="col-md-12">
            <table width="100%">
                <td><div style="width:50px;height:100px"></div></td>
                <td>
                    <table class="" id="">


                        <tr>
                            <td style="padding-bottom: 0px; padding-top: 0px"><strong>To,</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 0px; padding-top: 0px"><label style="font-size: 15px; " id="lblParty"></label></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 0px; padding-top: 0px">
                                <label id="lbladdress"></label>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 0px; padding-top: 0px">
                                TRN : <label id="lbltrn"></label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 0px; padding-top: 0px">
                                <strong>Subject : Work Completion Letter</strong> 
                            </td>
                        </tr>


                    </table>
                </td>
                <td>  Date : <label id="lblDate" /></td>
                <td><div style="width:50px;height:100px"></div></td>
            </table>
            <br /><br />
            <table width="100%">
                <td><div style="width:50px;height:100px"></div></td>
                <td>




                    <p>Dear Sir/Madem,<p>
                    <p style="text-align: left;">
                        We are pleasure to inform you that we have been successfully completed the work
                        of as per the Invoice No: <span id="lblRef1"></span> accordance with the provisions of the contract
                        <span id="lblRef2"></span>  between us. The works are now handed over to you and are
                        subjected to the applicable.
                    </p>
                    <br />
                    <p>
                        Warranty/maintenance condition contained in the contract between us successfully
                        completed.
                    </p>
                    <br />
                    <p>
                        Thanking you and assuring you for our best service always.
                    </p>
                    <br /> <br /> <br /> <br />
                    <p style="color:blueviolet !important;text-shadow:initial">
                        We will be looking forward to work with you in the future
                    </p>
                    <br /> <br />
                           <p style="color:blue !important">
                               Thanks, and Regards,
                               Emirtech Technology
                           </p>
                </td>
                <td><div style="width:50px;height:100px"></div></td>
                </table>
</div>

        </div>
       
   
      

 


        <table width="100%">

            <tr class="row">
                <td>
                    <div class="text-center" style="">
                        <img src="/logos/zeal.jpg" width="130" height="100px"  class="top-img" style="/* float: right; *//* padding-right: 100px; */">
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>






