@using QuickSoft.Models
@model QuickSoft.ViewModel.InvoiceLayoutViewModel
@{
    //var title = Model.InvoiceField.Where(a => a.Type == "Title").First();
    //var Customer = (Model.Type == "Purchase Order" || Model.Type == "Purchase" || Model.Type == "LPO") ?
    //    Model.InvoiceField.Where(a => a.Type == "Supplier").First() :
    //    Model.InvoiceField.Where(a => a.Type == "Customer").First();
    //var Cust_Name = Model.InvoiceField.Where(a => a.Type == "Cust_Name").First();
    //var Cust_Address = Model.InvoiceField.Where(a => a.Type == "Cust_Address").First();
    //var Cust_City = Model.InvoiceField.Where(a => a.Type == "Cust_City").First();
    //var Cust_State = Model.InvoiceField.Where(a => a.Type == "Cust_State").First();
    //var Cust_Country = Model.InvoiceField.Where(a => a.Type == "Cust_Country").First();
    //var Cust_Zip = Model.InvoiceField.Where(a => a.Type == "Cust_Zip").First();
    //var Cust_Mobile = Model.InvoiceField.Where(a => a.Type == "Cust_Mobile").First();
    //var Cust_Phone = Model.InvoiceField.Where(a => a.Type == "Cust_Phone").First();
    //var Cust_Email = Model.InvoiceField.Where(a => a.Type == "Cust_Email").First();
    //var Cust_TRN = Model.InvoiceField.Where(a => a.Type == "Cust_TRN").First();
    //var Cust_Fax = Model.InvoiceField.Where(a => a.Type == "Cust_Fax").First();
    //var Cust_Credit_Period = Model.InvoiceField.Where(a => a.Type == "Cust_Credit_Period").First();

    //var Bill_Amount = Model.InvoiceField.Where(a => a.Type == "Bill_Amount").First();
    //var Bill_Tax = Model.InvoiceField.Where(a => a.Type == "Bill_Tax").First();
    //var Bill_Discount = Model.InvoiceField.Where(a => a.Type == "Bill_Discount").First();
    //var Bill_roundN = Model.InvoiceField.Where(a => a.Type == "Bill_roundN").First();
    //var Bill_roundP = Model.InvoiceField.Where(a => a.Type == "Bill_roundP").First();
    //var Bill_Total = Model.InvoiceField.Where(a => a.Type == "Bill_Total").First();
    //var Bill_TotalWord = Model.InvoiceField.Where(a => a.Type == "Bill_TotalWord").First();

    //var InvoiceNo = Model.InvoiceField.Where(a => a.Type == "InvoiceNo").First();
    //var Date = Model.InvoiceField.Where(a => a.Type == "Date").First();
    //var PO_No = Model.InvoiceField.Where(a => a.Type == "PO_No").FirstOrDefault();
    //var SalesExecutive = Model.InvoiceField.Where(a => a.Type == "SalesExecutive").First();
    //var PaymentType = Model.InvoiceField.Where(a => a.Type == "PaymentType").First();
    //var DeliveryNote = Model.InvoiceField.Where(a => a.Type == "DeliveryNote").First();


    //var Terms = Model.InvoiceField.Where(a => a.Type == "Terms").First();
    //var Foot_1 = Model.InvoiceField.Where(a => a.Type == "Foot_1").First();
    //var Foot_2 = Model.InvoiceField.Where(a => a.Type == "Foot_2").First();


    string myclass = "";
}

<div id="printit" class="hidden">
   
   
    <style>
       

        
        

       

       

     



   
        body {
            background: #f4f4f5;
           
            background-image: url(/uploads/invoice/border.png) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            -webkit-print-color-adjust: exact;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-print-color-adjust: exact;
        
        }

        #itemtable tr > *:nth-child(5) {
            display: none;
        }

        #itemtable tr > *:nth-child(6) {
            display: none;
        }

        #itemtable tr > *:nth-child(7) {
            display: none;
        }

        #itemtable tr > *:nth-child(8) {
            display: none;
        }

        #itemtable tr > *:nth-child(9) {
            display: none;
        }

        .footer-page {
            position: fixed !important;
            bottom: 20px !important;
        }
    </style>
    <div class="page-header">
        <div class="row" style="padding:0px;">
            <div class="col-8 col-md-8" style="padding:0px;">
                <div style=" float: left;overflow:hidden;">
                    <div id="">
                        <div class="image">
                            <img src="~/Content/img/logo.png" width="100" style="float: left; margin-top: 45px; margin-left: 84px;" />

                            <div class="" style=" text-align: left; padding-left: 5px; float: left; margin-top: 45px;">
                                <h4>
                                    <strong class="quicknet-title">
                                        <div style="margin-top: 35px;
    font-size: 18px;
    margin-left: -15px;">
                                            EMIRTECH TECHNOLOGY-L.L.C-O.P.C
                                        </div>
                                        @*<div class="quicknet-title-span">Technology</div>*@
                                        @*<div style="font-size: 12px; margin-top: 1px; display: block; margin-left:168px;">Powered by Quicknet</div>*@
                                        </span>
                                    </strong>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="quicknet-adress" style="font-size: 13px;/* float: right; */position: absolute;right: 87px;top: 50px;">
                    Mussafah - 44<br>
                    B49,Elite Business Zone<br>
                    Abu Dhabi, UAE<br>
                    www.emirtech.ae<br>
                    TRN : 104382707800003
                </div>

            </div>
        </div>

  <br/>
    <div class="row">
        <div style="width:100%!important;text-align:center!important;font-family:'Times New Roman', Times, serif;font-size:22px!important;">

            <b><u>To whom it may concern</u></b>

        </div>
    </div>
    <div class="row">
        <div style="width:100%!important;text-align:center!important;font-family:'Times New Roman', Times, serif;font-size:25px!important;padding:30px 0px 10px 0px!important;">

            <b>Work Completion Certificate</b>

        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
            <div style="   
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: 19px !important;
    margin: 50px;
    margin-bottom:5px;">
                This is to certify that <strong>EMIRTECH TECHNOLOGY-L.L.C-O.P.C</strong> has successfully completed work.<br />Our Invoice No : <label id="lblReference"></label>.Thanking you and assuring you for our best services always.

            </div>
            </div>
        </div>
</div>


    <div class="container-fluid" style="padding: 0px;width:85%">
        <table border="0" style="width:100%;">

            <tbody id="content">

                @*<tr style="background-color:blu!important;padding:20px!important;">
                        <td colspan="40" align="center"></td>
                    </tr>*@
           
                <tr class="row" style="">
                    <td class="table-responsive">
                        <div id="itemSection">
                            <table class="table customer-style" id="itemtable" style="font-size: 12px; margin-top:-15px;">
                                <thead style="display:contents">

                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="table-top-border " id="blue-Border-top">
                                        <th class="cmpnamecc" style="color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">NO</th>
                                        <th class="cmpnamecc" style="color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">DESCRIPTION</th>
                                        <th class="cmpnamecc" style="color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">UNIT</th>
                                        <th class="cmpnamecc" style="padding-right:25px!important;color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">QTY</th>
                                        <th class="cmpnamecc" style="text-align:right;color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">U.PRICE</th>
                                        @*<th class="cmpnamecc" style="text-align:right;color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">VAT %</th>
                                            <th class="cmpnamecc" style="text-align:right;color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">VAT AMT.</th>*@
                                        <th class="cmpnamecc" style="text-align:right;color:white!important;background-color:#311730 !important;-webkit-print-color-adjust:exact!important;">TOTAL</th>

                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </td>
                </tr>







                @*<tr>
                        <td><br /><br /><br /><br /><br />&nbsp;&nbsp;</td>
                    </tr>
                    <tr class="row" style="border:0px solid gray; margin-top:10px !important;">
                        <td nowrap>
                            <span> &nbsp;&nbsp;Customer's Signaturesss ---------------------------------</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style=";">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span style="float: right!important;">For The Whites Sign Advertising ---------------------------------</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="30"></td>
                    </tr>*@
            </tbody>
            @*<tfoot class="global-footer">
                    <tr>
                        <td>

                        </td>
                    </tr>
                </tfoot>*@
        </table>
    </div>
    <table></table>
    @*<div class="page-footer">
            <table>
                <tr class="row">
                    <td class="col-xs-12 table-responsive">
                        <table class="table  second-table"></table>
                    </td>
                </tr>
                <tr class="row" id="footer">
                    <td class="col-xs-12 table-responsive">
                        <table class="table ">

                        </table>
                    </td>
                </tr>
                <tr class="row" id="footer">
                    <td class="col-xs-12 table-responsive">
                        <table class="table ">
                            <td>
                                <div style="position:absolute;bottom:0px;">
                                    <img src="/logos/footerwhite.jpg" width="100%" height="40" />
                                </div>
                            </td>
                        </table>
                    </td>
                </tr>



            </table>

        </div>*@


 
</div>
@*@Styles.Render("~/css/css")
    @Styles.Render("~/css/print")*@






