@using CustomHtml
@using QuickSoft.Models
@using QuickSoft.ViewModel
@{
    var select = (ViewBag.selectedRoles != null) ? ViewBag.selectedRoles : null;
}
<style>
    .tem10 {
        background-color: yellow;
    }

    .theme {
        border: 1px solid white !important;
        border-radius: 3px;
        padding: 3px;
    }

    #searchtext {
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px !important;
        padding: 3px;
    }
    /*ul{
        border:1px solid black!important;
    }*/
</style>
<div id="modal-permission" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Please Select Modules</h4>
                <input type="text" id="searchtext" placeholder="Search..." />
            </div>

            <div class="modal-body">
                @{ MenuGenerate(ViewBag.UserRole, 0, select); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@{ void MenuGenerate(MenuViewModel module, long parent = 0, IList<string> data = null)
{
    MenuViewModel sub = new MenuViewModel();
    sub.Menu = module.Menu;
    var submodule = sub.Menu;
    string menuchecked = "";
    <ul id='tasks' class='item-list'>
        @foreach (var menus in module.Menu)
        {
            if (data != null)
            {
                menuchecked = (data.Contains(menus.Name)) ? "checked" : "";
            }
            if (menus.Parent == parent && menus.Status == Status.active)
            {
                if (menus.IsParent == choice.Yes)
                {
                    <li class="full" style="margin:5px;">
                        <i class="fa fa-caret-right" style="color:black;"></i>&nbsp;<label class='checkbox-inline'><input type='checkbox' @menuchecked name='Role' value='@menus.Name' /><span class="theme"> @menus.viewName</span></label>
                        @{ MenuGenerate(sub, menus.ModulesID, data); }
                    </li>
                }
                else
                {
                    <li style="margin:5px;">&nbsp;&nbsp;<label class='checkbox-inline'><input type='checkbox' @menuchecked name='Role' value='@menus.Name' /><span class="theme">@menus.viewName</span></label></li>
                    <br />
                }
            }
        }
    </ul>
} }
<script>
   // function searchbtn() {
    $('#searchtext').keyup(function () {

        $('.tem10').removeClass('tem10');
        $('.fa-caret-down').click();
        var tem = $(this).val().toLowerCase();
        if (tem != "") {
            $('.modal-body label').each(function () {
                var text = $(this).text().toLowerCase();
                if (text.indexOf(tem) !== -1) {
                    $(this).addClass('tem10');
                }
            });
        //$("label:contains(" + tem + ")").addClass('tem10');//css('background-color', 'red');
        $('.tem10').parent().parent().siblings('.fa-caret-right').click();
        $('.tem10').parent().parent().parent().parent().siblings('.fa-caret-right').click();
        $('.tem10').parent().parent().parent().parent().parent().parent().siblings('.fa-caret-right').click();
        $('.tem10').parent().parent().parent().parent().parent().parent().parent().parent().siblings('.fa-caret-right').click();
        $('.tem10').parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().siblings('.fa-caret-right').click();
        $('.tem10').parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().siblings('.fa-caret-right').click();
        }
    });
</script>