@using QuickSoft.Models
@model Register
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->

    <link href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/vendor/select2/select2.css" rel="stylesheet" />

    <!--===============================================================================================-->

    <link href="~/Content/login/css/util.css" rel="stylesheet" />
    <link href="~/Content/login/css/main.css" rel="stylesheet" />

    <!--===============================================================================================-->
</head>
<body>
    <style>
        input, textarea {
            border: 1px solid gray;
        }

        .wrap-login100 {
            width: auto !important;
            padding-top: 50px !important;
        }
    </style>

    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">
<h2 style="color:red">

    User Name And Password Not Set For This Customer.Please Contact Quicknet Office
</h2>
            </div>
        </div>
    </div>
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row (main row) -->
    </section>




    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>


    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->


    <script src="~/Content/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->

    <script src="~/Content/login/js/main.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/respond.js"></script>
</body>
</html>































