.pos-preview {
    width:390px;
}

#invoice-POS {
    padding: 2mm;
    margin: 0 auto;
    width: 100%;
    background: #FFF;
    /*border: 1px solid #f0f0f0;*/
    /*max-width: 250px;*/
}

#invoice-POS ::selection {
    color: #FFF;
}

#invoice-POS ::moz-selection {
    color: #FFF;
}

#invoice-POS h1 {
    font-size: 1.5em;
    color: #222;
}

#invoice-POS h2 {
    font-size: 1em;
    margin: 0px 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

#invoice-POS h3 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2em;
    margin-bottom: 0px !important;
    margin-top: 0px;
}

#invoice-POS h5 {
    font-weight: 500;
    margin-top: 0px;
}

#invoice-POS p {
    font-size: .9em;
    color: #666;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}

#invoice-POS #top, #invoice-POS #mid, #invoice-POS #bot {
    /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
}

/*#invoice-POS #top {
            min-height: 100px;
        }*/

/*#invoice-POS #mid {
            min-height: 80px;
        }*/

#invoice-POS #bot {
    min-height: 50px;
}

#invoice-POS #top .logo {
    max-width: 100%;
    background-size: 60px 60px;
}

#invoice-POS .clientlogo {
    float: left;
    height: 60px;
    width: 60px;
    background: url() no-repeat;
    background-size: 60px 60px;
    border-radius: 50px;
}

#invoice-POS .info, #invoice-POS .detail {
    display: block;
    margin-left: 0;
    margin-bottom: 5px;
}
#invoice-POS .info p b, #invoice-POS .detail p b {
    float: left;
}
#invoice-POS .detail p span{
    text-align  : right;
    float: right;
}

#invoice-POS .title {
    float: right;
}
#invoice-POS .title p {
    text-align: right;
}

#invoice-POS table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
    border-bottom: 1px #898989;
}

#invoice-POS .tabletitle {
    font-size: .85em;
    border-bottom: 1px solid #EEE;
}

    #invoice-POS .tabletitle h2 {
        font-weight: 800;
    }

#invoice-POS .service {
    border-bottom: 1px solid #EEE;
}

#invoice-POS .item {
    width: 24mm;
    padding-top: 3px;
    padding-bottom: 3px;
}

#invoice-POS .itemtext {
    font-size: .65em;
    margin-bottom: 1px;
}

#invoice-POS #legalcopy {
    margin-top: 1.5mm;
}

#invoice-POS .rate {
    text-align: right;
}

#invoice-POS .qty {
    text-align: center;
}

#invoice-POS .price {
    text-align: center;
}

#invoice-POS hr {
    margin: 5px 0;
}

.noborder th {
    border-bottom: 1px #898989;
}

.noborder tr {
    border: none;
}

.noborder td {
    border: none;
}
 .logo .img-responsive{
    max-height: 100px;
}