@charset "utf-8";

html {
    overflow-y: scroll;
}

.pos .content {
    padding: 0px !important;
}

.sidebar-mini.sidebar-collapse.pos .content-wrapper, .pos.sidebar-mini.sidebar-collapse .main-header .navbar,
.pos.sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0px !important;
}

.pos a.logo, .pos .main-sidebar, .pos.skin-blue .main-header .navbar .sidebar-toggle, .pos.edit .nav li.order,
.pos .order {
    display: none;
}

.pos .btn-group.btn-group-vertical {
    width: 100%;
}

.rpos {
    padding-left: 0px;
}

.lpos {
    padding-right: 0px;
}

#info {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    width: 95%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    //font-family: arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

    #info .info-wrapper {
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    #info a {
        color: #c09853;
        text-decoration: none;
    }

    #info p {
        margin: 5px 0 0 0;
    }

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#leftdiv {
    width: 100%;
    padding: 1px;
    background: #fff;
    float: left;
}

#filters {
    padding: 0px 0px;
    list-style: none;
    margin-bottom: 0px;
    width: 100px;
}

    #filters li {
        float: left;
        background-color: #efefef;
        /* margin: 1px; */
        width: 100%;
    }

        #filters li span {
            display: block;
            padding: 15px 15px;
            text-decoration: none;
            cursor: pointer;
            color: #000;
        }

            #filters li span.active {
                background: #e95a44;
                color: #fff;
            }

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: calc(33.33% - 2px);
    margin: 1px;
    display: none;
    float: left;
    overflow: hidden;
    /*max-width:170px;*/
    /* background: #CAD3C8; */
}

.scroll-box2 .slimScrollDiv {
    width: calc(100% - 102px) !important;
}

    .scroll-box2 .slimScrollDiv:first-child {
        width: 100px !important;
        float: left;
    }
/*-------------------------------------------------*/
/*-------------------------------------------------------------*/

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    /* max-height: 115px; */
    cursor: pointer;
}

.portfolio img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container {
        width: 95%;
    }

    #portfoliolist .portfolio {
        width: 48%;
        margin: 1%;
    }

    #ads {
        display: none;
    }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }

    #ads {
        display: none;
    }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* CSS Document */

.form-group {
    margin-bottom: 1px;
    padding: 0 1px;
}

    .form-group .form-control {
        padding: 6px;
        height: 40px;
    }

    .form-group textarea.form-control {
        height: auto;
    }

    .form-group select.form-control {
        padding: 0px;
    }

.select2-container {
    max-width: 100% !important;
}

#list-table-div {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slimScrollBar {
    background: rgb(0, 0, 0);
    width: 7px;
    position: absolute;
    top: 0px;
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
    height: 243px;
}

.slimScrollDiv {
    width: 100% !important;
    height: auto !important;
}

.slimScrollRail {
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    border-radius: 7px;
    background: rgb(51, 51, 51);
    opacity: 0.2;
    z-index: 90;
    right: 1px;
}

#totaltbl {
    margin-bottom: 10px;
}


/* gallery animation */

.gallery {
    width: 100%;
}

.images {
    opacity: 0.1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 150px;
}

.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.top {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.text-note {
    color: #fff;
    padding: 5px;
    width: 100%;
    font-weight: 600;
}


/* gallery animation */

.scroll-box2 {
    background: #fff;
    height: calc(89vh - 96px) !important;
    /*height: calc(100vh - 53px) !important;*/
}

#itscrol {
    width: 100px;
    height: calc(100vh - 100px) !important;
    float: left;
}

#portfoliolist {
    width: 100% !important;
    float: left;
    height: calc(87vh - 100px);
    overflow-y: auto;
}

.price_main {
    padding: 5px 0;
    margin: 0;
    float: left;
    width: 100%;
    background: #ffdd35;
    border-bottom: 1px dashed #fff;
}

.price_q {
    width: 100%;
    height: 32px;
}

.scroll-box {
    overflow-y: auto;
    height: calc(100% - 25px);
    ;
    float: left;
    width: 100% !important;
}

.top-navigation {
    width: 300px;
}

.logo_first {
    width: 150px;
}

.price_h {
    background: #f6655e;
    color: #020202;
    float: left;
    width: 100%;
    padding: 2px 0;
}

.price_tot {
    width: 100%;
    background: #efefef;
    float: left;
    padding: 1px 0px;
    color: #000;
}

    .price_tot input {
        width: 100%;
        color: #000;
        margin: 1px 0;
        text-align: right;
    }

        .price_tot input:read-only {
            background-color: #ccc;
        }

        .price_tot input[readonly="readonly"] {
            background-color: #ccc;
        }

        .price_tot input[readonly] {
            background-color: #efefef;
            border: 1px solid #efefef;
        }

        .price_tot input:-moz-read-only {
            background-color: #efefef;
        }

#leftdiv .price_tot div, #leftCustomItem .price_tot div {
    text-align: left;
    padding-left: 5px;
    font-size: 17px;
}

#OrderNo {
    font-size: 22px;
    font-weight: 800;
}

input#total_payable {
    font-weight: bold;
}

.tot_sec {
    background: #bbb;
    float: left;
    width: 100%;
}

.price_tot .tot_sec input[readonly] {
    background-color: #bbb;
    border: 1px solid #bbb;
}

#POSForm {
    /*height: calc(100vh - 362px) !important;*/
    height: calc(100vh - 438px) !important;
    min-height: 200px;
    /*border-left: 1px solid;
    border-right: 1px solid;*/
}

.rowtrash {
    cursor: pointer;
    font-size: 26px;
    color: #000;
}

.botbuttons .col-xs-4, .botbuttons .col-xs-6, .botbuttons .col-xs-3 {
    padding: 0px;
    margin: 0px;
}

#payment1, #payment2, .btn-2x {
    height: 95px;
    width: 100%;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 75px;
}

.text-note h5 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.pos .select2-container--default .select2-selection--single {
    height: 40px !important;
}

    .pos .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px;
    }

.pos #leftdiv .input-group-sm .input-group-btn .btn {
    height: 40px;
    min-width: 16px;
}

#leftdiv .col-sm-1,
#leftdiv .col-sm-2,
#leftdiv .col-sm-3,
#leftdiv .col-sm-4,
#leftdiv .col-sm-5,
#leftdiv .col-sm-6,
#leftdiv .col-sm-7,
#leftdiv .col-sm-8,
#leftdiv .col-sm-9,
#leftdiv .col-sm-10,
#leftdiv .col-sm-11,
#leftdiv .col-sm-12 {
    padding-right: 1px;
    padding-left: 1px;
    text-align: center
}

#leftdiv .datepicker {
    border-radius: 0px;
}

#leftdiv .input-group-sm .input-group-btn .btn {
    border-radius: 0px;
}

.botbuttons .col-xs-8 {
    padding: 0px;
    margin: 0px;
}

.spin {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgba(204, 204, 204, 0.65);
    position: absolute;
    z-index: 9;
    display: none;
}

    .spin i {
        margin-top: 20vh;
    }

.qtybtn {
    font-size: 22px;
    background: #000;
    color: #fff;
    padding: 0px 2px;
}

.pos .nav li.order, .pos .gohome {
    display: block
}

.pos .btn {
    padding: 10px 3px;
}

.holdorders {
    background: #d1d88b !important;
    color: #000 !important;
    margin: 1px;
    text-align: left;
}

.holdbtns {
    padding-top: 40px;
    text-align: center !important;
}

.holdorders .gallery h5 {
    border-bottom: 1px dashed #6f6d6d;
    padding-bottom: 3px;
}

.pricetag {
    position: absolute;
    top: 0;
    right: 0;
}

    .pricetag .btn {
        background: #eee;
        border: 0px;
        border-radius: 0px;
        color: #2196F3;
    }

.pos .slimScrollBar {
    width: 1px !important;
    background: #010129 !important;
    opacity: 0.5 !important;
}

.pos .botbuttons .btn {
    padding: 6px 5px;
}

.pos .title {
    display: none;
}

.pos .close {
    font-size: 40px;
}

.pos .form-control {
    height: 40px;
}

.pos.fixed .content-wrapper, .pos.fixed .right-side {
    padding-top: 0px;
}

.btn-half {
    width: calc(50% - 2px);
    margin-right: 1px;
    border-radius: 0px;
    float: left;
}

.btn-full {
    width: 100%;
    border-radius: 0px;
}

.pos .bg-black .close {
    color: #fff;
    opacity: 0.8;
}

.modal-large .scroll-box2 {
    height: calc(100vh - 115px) !important;
}

.Mainategory {
    padding: 0px;
}

ul.myfilters {
    padding: 0 0;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
}

.myfilters li {
    float: left;
    background-color: #efefef;
    margin: 1px;
    width: calc(20% - 2px);
}

    .myfilters li span {
        display: block;
        padding: 13px 15px;
        text-decoration: none;
        cursor: pointer;
        color: #000;
    }

    .myfilters li.active span {
        background: #e95a44;
        color: #fff;
    }

.itnote {
    COLOR: #333;
    FONT-WEIGHT: BOLD;
}

html {
    overflow-y: scroll;
}

.pos .content {
    padding: 0px !important;
}

.sidebar-mini.sidebar-collapse.pos .content-wrapper, .pos.sidebar-mini.sidebar-collapse .main-header .navbar,
.pos.sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0px !important;
}

.pos a.logo, .pos .main-sidebar, .pos.skin-blue .main-header .navbar .sidebar-toggle, .pos.edit .nav li.order,
.pos .order {
    display: none;
}

.pos .btn-group.btn-group-vertical {
    width: 100%;
}

.rpos {
    padding-left: 0px;
}

.lpos {
    padding-right: 0px;
}

#info {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    width: 95%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    //font-family: arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

    #info .info-wrapper {
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    #info a {
        color: #c09853;
        text-decoration: none;
    }

    #info p {
        margin: 5px 0 0 0;
    }

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#leftdiv {
    width: 100%;
    padding: 1px;
    background: #fff;
    float: left;
}

#filters {
    padding: 0px 0px;
    list-style: none;
    margin-bottom: 0px;
    width: 100px;
}

    #filters li {
        float: left;
        background-color: #efefef;
        /* margin: 1px; */
        width: 100%;
    }

        #filters li span {
            display: block;
            padding: 15px 15px;
            text-decoration: none;
            cursor: pointer;
            color: #000;
        }

            #filters li span.active {
                background: #e95a44;
                color: #fff;
            }

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: calc(33.33% - 2px);
    margin: 1px;
    display: none;
    float: left;
    overflow: hidden;
    /*max-width:170px;*/
    /* background: #CAD3C8; */
}

.scroll-box2 .slimScrollDiv {
    width: calc(100% - 102px) !important;
}

    .scroll-box2 .slimScrollDiv:first-child {
        width: 100px !important;
        float: left;
    }
/*-------------------------------------------------*/
/*-------------------------------------------------------------*/

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    /* max-height: 115px; */
    cursor: pointer;
}

.portfolio img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container {
        width: 95%;
    }

    #portfoliolist .portfolio {
        width: 48%;
        margin: 1%;
    }

    #ads {
        display: none;
    }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }

    #ads {
        display: none;
    }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* CSS Document */

.form-group {
    margin-bottom: 1px;
    padding: 0 1px;
}

    .form-group .form-control {
        padding: 6px;
        height: 40px;
    }

    .form-group textarea.form-control {
        height: auto;
    }

    .form-group select.form-control {
        padding: 0px;
    }

.select2-container {
    max-width: 100% !important;
}

#list-table-div {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slimScrollBar {
    background: rgb(0, 0, 0);
    width: 7px;
    position: absolute;
    top: 0px;
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
    height: 243px;
}

.slimScrollDiv {
    width: 100% !important;
    height: auto !important;
}

.slimScrollRail {
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    border-radius: 7px;
    background: rgb(51, 51, 51);
    opacity: 0.2;
    z-index: 90;
    right: 1px;
}

#totaltbl {
    margin-bottom: 10px;
}


/* gallery animation */

.gallery {
    width: 100%;
}

.images {
    opacity: 0.1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 150px;
}

.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.top {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.text-note {
    color: #fff;
    padding: 5px;
    width: 100%;
    font-weight: 600;
}


/* gallery animation */

.scroll-box2 {
    background: #fff;
    height: calc(89vh - 96px) !important;
    /*height: calc(100vh - 53px) !important;*/
}

#itscrol {
    width: 100px;
    height: calc(100vh - 100px) !important;
    float: left;
}

#portfoliolist {
    width: 100% !important;
    float: left;
    height: calc(87vh - 100px);
    overflow-y: auto;
}

.price_main {
    padding: 5px 0;
    margin: 0;
    float: left;
    width: 100%;
    background: #ffdd35;
    border-bottom: 1px dashed #fff;
}

.price_q {
    width: 100%;
    height: 32px;
}

.scroll-box {
    overflow-y: auto;
    height: calc(100% - 25px);
    ;
    float: left;
    width: 100% !important;
}

.top-navigation {
    width: 300px;
}

.logo_first {
    width: 150px;
}

.price_h {
    background: #666;
    color: #020202;
    float: left;
    width: 100%;
    padding: 2px 0;
}

.price_tot {
    width: 100%;
    background: #efefef;
    float: left;
    padding: 1px 0px;
    color: #000;
}

    .price_tot input {
        width: 100%;
        color: #000;
        margin: 1px 0;
        text-align: right;
    }

        .price_tot input:read-only {
            background-color: #ccc;
        }

        .price_tot input[readonly="readonly"] {
            background-color: #ccc;
        }

        .price_tot input[readonly] {
            background-color: #efefef;
            border: 1px solid #efefef;
        }

        .price_tot input:-moz-read-only {
            background-color: #efefef;
        }

#leftdiv .price_tot div, #leftCustomItem .price_tot div {
    text-align: left;
    padding-left: 5px;
    font-size: 17px;
}

#OrderNo {
    font-size: 22px;
    font-weight: 800;
}

input#total_payable {
    font-weight: bold;
}

.tot_sec {
    background: #bbb;
    float: left;
    width: 100%;
}

.price_tot .tot_sec input[readonly] {
    background-color: #bbb;
    border: 1px solid #bbb;
}

#POSForm {
    /*height: calc(100vh - 362px) !important;*/
    height: calc(100vh - 438px) !important;
    min-height: 200px;
    /*border-left: 1px solid;
    border-right: 1px solid;*/
}

.rowtrash {
    cursor: pointer;
    font-size: 26px;
    color: #000;
}

.botbuttons .col-xs-4, .botbuttons .col-xs-6, .botbuttons .col-xs-3 {
    padding: 0px;
    margin: 0px;
}

#payment1, #payment2, .btn-2x {
    height: 95px;
    width: 100%;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 75px;
}

.text-note h5 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.pos .select2-container--default .select2-selection--single {
    height: 40px !important;
}

    .pos .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px;
    }

.pos #leftdiv .input-group-sm .input-group-btn .btn {
    height: 40px;
    min-width: 16px;
}

#leftdiv .col-sm-1,
#leftdiv .col-sm-2,
#leftdiv .col-sm-3,
#leftdiv .col-sm-4,
#leftdiv .col-sm-5,
#leftdiv .col-sm-6,
#leftdiv .col-sm-7,
#leftdiv .col-sm-8,
#leftdiv .col-sm-9,
#leftdiv .col-sm-10,
#leftdiv .col-sm-11,
#leftdiv .col-sm-12 {
    padding-right: 1px;
    padding-left: 1px;
    text-align: center
}

#leftdiv .datepicker {
    border-radius: 0px;
}

#leftdiv .input-group-sm .input-group-btn .btn {
    border-radius: 0px;
}

.botbuttons .col-xs-8 {
    padding: 0px;
    margin: 0px;
}

.spin {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgba(204, 204, 204, 0.65);
    position: absolute;
    z-index: 9;
    display: none;
}

    .spin i {
        margin-top: 20vh;
    }

.qtybtn {
    font-size: 22px;
    background: #000;
    color: #fff;
    padding: 0px 2px;
}

.pos .nav li.order, .pos .gohome {
    display: block
}

.pos .btn {
    padding: 10px 3px;
}

.holdorders {
    background: #d1d88b !important;
    color: #000 !important;
    margin: 1px;
    text-align: left;
}

.holdbtns {
    padding-top: 40px;
    text-align: center !important;
}

.holdorders .gallery h5 {
    border-bottom: 1px dashed #6f6d6d;
    padding-bottom: 3px;
}

.pricetag {
    position: absolute;
    top: 0;
    right: 0;
}

    .pricetag .btn {
        background: #eee;
        border: 0px;
        border-radius: 0px;
        color: #2196F3;
    }

.pos .slimScrollBar {
    width: 1px !important;
    background: #010129 !important;
    opacity: 0.5 !important;
}

.pos .botbuttons .btn {
    padding: 6px 5px;
}

.pos .title {
    display: none;
}

.pos .close {
    font-size: 40px;
}

.pos .form-control {
    height: 40px;
}

.pos.fixed .content-wrapper, .pos.fixed .right-side {
    padding-top: 0px;
}

.btn-half {
    width: calc(50% - 2px);
    margin-right: 1px;
    border-radius: 0px;
    float: left;
}

.btn-full {
    width: 100%;
    border-radius: 0px;
}

.pos .bg-black .close {
    color: #fff;
    opacity: 0.8;
}

.modal-large .scroll-box2 {
    height: calc(100vh - 115px) !important;
}

.Mainategory {
    padding: 0px;
}

ul.myfilters {
    padding: 0 0;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
}

.myfilters li {
    float: left;
    background-color: #efefef;
    margin: 1px;
    width: calc(20% - 2px);
}

    .myfilters li span {
        display: block;
        padding: 13px 15px;
        text-decoration: none;
        cursor: pointer;
        color: #000;
    }

    .myfilters li.active span {
        background: #e95a44;
        color: #fff;
    }

#custom-items {
    height: calc(100vh - 233px) !important;
}

#leftCustomItem {
    display: none;
    float: left;
}

    #leftCustomItem.cust-active {
        display: block;
    }

input#Custom-total_tax_p {
    width: auto;
    margin-left: 10px;
}

}

html {
    overflow-y: scroll;
}

.pos .content {
    padding: 0px !important;
}

.sidebar-mini.sidebar-collapse.pos .content-wrapper, .pos.sidebar-mini.sidebar-collapse .main-header .navbar,
.pos.sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0px !important;
}

.pos a.logo, .pos .main-sidebar, .pos.skin-blue .main-header .navbar .sidebar-toggle, .pos.edit .nav li.order,
.pos .order {
    display: none;
}

.pos .btn-group.btn-group-vertical {
    width: 100%;
}

.rpos {
    padding-left: 0px;
}

.lpos {
    padding-right: 0px;
}

#info {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    width: 95%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    //font-family: arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

    #info .info-wrapper {
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    #info a {
        color: #c09853;
        text-decoration: none;
    }

    #info p {
        margin: 5px 0 0 0;
    }

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#leftdiv {
    width: 100%;
    padding: 1px;
    background: #fff;
    float: left;
    margin-top: 4px;
}

#filters {
    padding: 0px 0px;
    list-style: none;
    margin-bottom: 0px;
    width: 200px;
}

    #filters li {
        float: left;
        background-color: #337ab7;
        /* margin: 1px; */
        width: 100%;
        /* padding: 0px; */
    }

        #filters li span {
            display: block;
            /* padding: 15px 15px; */
            text-decoration: none;
            cursor: pointer;
            color: #000;
            background: repeating-linear-gradient(4deg, #777, #444 100px);
            color: white;
            /* width: 150px; */
            //
            font-family: -apple-system !important;
            font-size: 20px;
        }

            #filters li span.active {
                background: #e95a44;
                color: #fff;
            }

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 49%;
    margin: 1px;
    display: none;
    float: left;
    overflow: hidden;
    /*max-width:170px;*/
    /* background: #CAD3C8; */
}

.scroll-box2 .slimScrollDiv {
    width: calc(100% - 200px) !important;
}

    .scroll-box2 .slimScrollDiv:first-child {
        width: 200px !important;
        float: left;
    }
/*-------------------------------------------------*/
/*-------------------------------------------------------------*/

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    /* max-height: 115px; */
    cursor: pointer;
}

.portfolio img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container {
        width: 95%;
    }

    #portfoliolist .portfolio {
        width: 48%;
        margin: 1%;
    }

    #ads {
        display: none;
    }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }

    #ads {
        display: none;
    }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* CSS Document */

.form-group {
    margin-bottom: 1px;
    padding: 0 1px;
}

    .form-group .form-control {
        padding: 6px;
        height: 40px;
    }

    .form-group textarea.form-control {
        height: auto;
    }

    .form-group select.form-control {
        padding: 0px;
    }

.select2-container {
    max-width: 100% !important;
}

#list-table-div {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slimScrollBar {
    background: rgb(0, 0, 0);
    width: 7px;
    position: absolute;
    top: 0px;
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
    height: 243px;
}

.slimScrollDiv {
    /* width: 100% !important; */
    height: auto !important;
    scrollbar-width: thin;
}

.slimScrollRail {
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    border-radius: 7px;
    background: rgb(51, 51, 51);
    opacity: 0.2;
    z-index: 90;
    right: 1px;
}

#totaltbl {
    margin-bottom: 10px;
}


/* gallery animation */

.gallery {
    width: 100%;
}

.images {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 201px;
}

.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.top {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.text-note {
    color: #fff;
    padding: 5px;
    width: 100%;
    font-weight: 600;
}


/* gallery animation */

.scroll-box2 {
    background: #fff;
    height: calc(89vh - 96px) !important;
    /*height: calc(100vh - 53px) !important;*/
    width: 60%;
}

#itscrol {
    width: 100px;
    /* height: calc(100vh) !important; */
    float: left;
}

#portfoliolist {
    width: 75% !important;
    float: left;
    height: calc(75vh);
    overflow-y: auto;
}

.price_main {
    padding: 5px 0;
    margin: 0;
    float: left;
    width: 100%;
    background: #d2d6de;
    border-bottom: 1px dashed #fff;
}

.price_q {
    width: 100%;
    height: 32px;
}

.scroll-box {
    overflow-y: auto;
    height: calc(100% - 25px);
    ;
    float: left;
    width: 100% !important;
}

.top-navigation {
    width: 300px;
}

.logo_first {
    width: 150px;
}

.price_h {
    /* background-image: linear-gradient(#ffa414,red, yellow); */
    color: #020202;
    float: left;
    width: 100%;
    padding: 7px 0;
    padding-top: 8px;
    color: #eddfdf;
}

.price_tot {
    width: 100%;
    background: #efefef;
    float: left;
    padding: 1px 0px;
    color: #000;
}

    .price_tot input {
        width: 100%;
        color: #000;
        margin: 1px 0;
        text-align: right;
    }

        .price_tot input:read-only {
            background-color: #ccc;
        }

        .price_tot input[readonly="readonly"] {
            background-color: #ccc;
        }

        .price_tot input[readonly] {
            background-color: #efefef;
            border: 1px solid #efefef;
        }

        .price_tot input:-moz-read-only {
            background-color: #efefef;
        }

#leftdiv .price_tot div, #leftCustomItem .price_tot div {
    text-align: left;
    padding-left: 5px;
    font-size: 17px;
}

#OrderNo {
    font-size: 16px;
    font-weight: 800;
}

input#total_payable {
    font-weight: bold;
}

.tot_sec {
    background: #bbb;
    float: left;
    width: 100%;
}

.price_tot .tot_sec input[readonly] {
    background-color: #bbb;
    border: 1px solid #bbb;
}

#POSForm {
    /*height: calc(100vh - 362px) !important;*/
    height: calc(100vh - 449px) !important;
    min-height: 212px;
    /*border-left: 1px solid;
    border-right: 1px solid;*/
}

.rowtrash {
    cursor: pointer;
    font-size: 26px;
    color: #000;
}

.botbuttons .col-xs-4, .botbuttons .col-xs-6, .botbuttons .col-xs-3 {
    padding: 0px;
    margin: 0px;
}

#payment1, #payment2, .btn-2x {
    height: 95px;
    width: 100%;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 75px;
}

.text-note h5 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.pos .select2-container--default .select2-selection--single {
    height: 40px !important;
}

    .pos .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px;
    }

.pos #leftdiv .input-group-sm .input-group-btn .btn {
    height: 40px;
    min-width: 16px;
}

#leftdiv .col-sm-1,
#leftdiv .col-sm-2,
#leftdiv .col-sm-3,
#leftdiv .col-sm-4,
#leftdiv .col-sm-5,
#leftdiv .col-sm-6,
#leftdiv .col-sm-7,
#leftdiv .col-sm-8,
#leftdiv .col-sm-9,
#leftdiv .col-sm-10,
#leftdiv .col-sm-11,
#leftdiv .col-sm-12 {
    padding-right: 1px;
    padding-left: 1px;
    text-align: center;
    //font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

#leftdiv .datepicker {
    border-radius: 0px;
}

#leftdiv .input-group-sm .input-group-btn .btn {
    border-radius: 0px;
}

.botbuttons .col-xs-8 {
    padding: 0px;
    margin: 0px;
}

.spin {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgba(204, 204, 204, 0.65);
    position: absolute;
    z-index: 9;
    display: none;
}

    .spin i {
        margin-top: 20vh;
    }

.qtybtn {
    font-size: 22px;
    background: #666;
    color: #fff;
    padding: 0px 2px;
}

.pos .nav li.order, .pos .gohome {
    display: block
}

.pos .btn {
    padding: 10px 3px;
}

.holdorders {
    background: #d1d88b !important;
    color: #000 !important;
    margin: 1px;
    text-align: left;
}

.holdbtns {
    padding-top: 40px;
    text-align: center !important;
}

.holdorders .gallery h5 {
    border-bottom: 1px dashed #6f6d6d;
    padding-bottom: 3px;
}

.pricetag {
    position: absolute;
    top: 0;
    right: 0;
}

    .pricetag .btn {
        background: #eee;
        border: 0px;
        border-radius: 0px;
        color: #2196F3;
    }

.pos .slimScrollBar {
    width: 1px !important;
    background: #010129 !important;
    opacity: 0.5 !important;
}

.pos .botbuttons .btn {
    padding: 6px 5px;
}

.pos .title {
    display: none;
}

.pos .close {
    font-size: 40px;
}

.pos .form-control {
    height: 40px;
}

.pos.fixed .content-wrapper, .pos.fixed .right-side {
    padding-top: 0px;
}

.btn-half {
    width: calc(50% - 2px);
    margin-right: 1px;
    border-radius: 0px;
    float: left;
}

.btn-full {
    width: 100%;
    border-radius: 0px;
}

.pos .bg-black .close {
    color: #fff;
    opacity: 0.8;
}

.modal-large .scroll-box2 {
    height: calc(100vh - 115px) !important;
}

.Mainategory {
    padding: 0px;
}

ul.myfilters {
    padding: 0 0;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
}

.myfilters li {
    float: left;
    background-color: #efefef;
    margin: 1px;
    width: calc(20% - 2px);
}

    .myfilters li span {
        display: block;
        padding: 13px 15px;
        text-decoration: none;
        cursor: pointer;
        color: #000;
    }

    .myfilters li.active span {
        background: #e95a44;
        color: #fff;
    }

#custom-items {
    height: calc(100vh - 233px) !important;
}

#leftCustomItem {
    display: none;
    float: left;
}

    #leftCustomItem.cust-active {
        display: block;
    }

input#Custom-total_tax_p {
    width: auto;
    margin-left: 10px;
}

}

#custom-items {
    height: calc(100vh - 233px) !important;
}

#leftCustomItem {
    display: none;
    float: left;
}

    #leftCustomItem.cust-active {
        display: block;
    }

input#Custom-total_tax_p {
    width: auto;
    margin-left: 10px;
}
/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-bottom: 6px;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100% );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.45rem;
        padding: 12px 42px;
        //font-family: -apple-system !important;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
}

    .button-82-pushable:hover .button-82-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}
