@media screen {
    .print {
        width: 210mm;
        /*min-height: 297mm;*/
        border: 1px solid #898989;
        background: #fff;
    }
}
/*print*/
@media print, screen {
    .print {
        border: 1px solid #898989;
        padding: 0px 0px 0px;
    }

 table

{
    page-break-after: auto
}

tr {
    page-break-inside: auto;
    page-break-after: auto
}

td {
    page-break-inside: avoid;
    page-break-after: auto
}

thead {
    display: table-header-group
}

tfoot {
    display: table-footer-group
}



.print img {
    max-width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    /* max-height: 100px; */
}

        .print h3 {
            margin-top: 8px;
            font-size: 22px;
            margin-bottom: 5px;
        }

        .print .text-center h5 {
            margin-bottom: 2px;
            margin-top: 5px;
        }

        .print .text-center h4 {
            margin-top: 0px !important;
        }

        .print .taxno {
            position: absolute;
            right: 10px;
            margin-top: 5px;
        }

        .print .row {
            margin-right: 0px;
            margin-left: 0px;
        }

        .print .col-xs-12 {
            padding: 0px;
            overflow: hidden;
        }

        .print address, .print .table {
            margin-bottom: 0px;
        }

        .print .table-nob {
            border-left: 1px solid #898989;
        }

            .print .table-nob tr th, .print .table-nob tr td {
                border-bottom: 0px;
                border-top: 0px;
            }

            .print .table-nob tr th {
                width: 50%;
                vertical-align: baseline;
            }

    hr.lbreak {
        width: calc(100% + 0px);
        margin-left: 0px;
        border-color: #898989;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .invoice-info .invoice-col:first-child {
        border-right: 1px solid;
        padding-left: 10px;
    }

    .print .table-bordered {
        border-color: #898989;
        border-left: 0px;
        border-right: 0px;
        margin-bottom: 0px;
    }

        .print .table-bordered thead tr th {
            border-color: #898989;
            border-bottom-width: 1px;
        }

            .print .table-bordered thead tr th:first-child, .print .table-bordered tbody tr td:first-child {
                border-left: 0px;
            }

            .print .table-bordered thead tr th:last-child {
                border-right: 0px;
            }

        .print .table-bordered tbody tr td {
            border-bottom: 0px !important;
            border-top: 0px !important;
            border-color: #898989 !important;
        }

        .print .table-bordered tbody tr td, .table-bordered tbody tr th {
            border-color: #898989 !important;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .print .table-bordered thead tr td:last-child {
            border-right: 0px;
        }

    .print .second-table {
        border: 0px;
    }

        .print .second-table tbody tr:first-child td, .print .second-table tbody tr:first-child th {
            border-top: 0px;
        }

        .print .second-table tbody tr td:last-child {
            border-right: 0px;
        }

        .print .second-table tbody tr:last-child td, .print .second-table tbody tr:last-child th, .print .second-table tbody tr:first-child td {
            border-bottom: 0px;
        }

        .print .second-table tbody tr:first-child td {
            border-left: 0px;
        }

        .print .second-table tbody tr td {
            border-bottom: 1px solid #898989;
            border-top: 1px solid #898989;
        }

    .print .border-top {
        border-top: 1px solid #898989;
    }

    .noborder th {
        border: none;
    }

    .noborder tr {
        border: none;
    }

    .noborder td {
        border: none;
    }


    .chkpadding {
        padding-top: 25px;
    }

    .hight-250 {
        max-height: 250px;
        overflow: auto;
        margin-bottom: 10px;
    }

    .clogo {
        max-width: 100px;
        max-height: 100px;
        float: left;
    }

    .cname {
        padding-top: 55px;
    }

    .address-line {
        line-height: 1;
    }

    table.noborder tr, table.noborder tr td, table.noborder tr th {
        border: 0px !important;
    }

    .print label {
        font-weight: normal;
    }
}

@media print {
    body {
        border: 1px solid #898989;
    }

    @page {
        size: A4;
        page-break-after: always;
        border: 1px solid;
    }

    @page {
        @bottom-right {
            content: "";
        }

        @bottom-left {
            content: "";
        }

        @top-right {
            content: "";
        }

        @top-left {
            content: "";
        }
    }

    .print .table-bordered tbody tr td {
        border-bottom: 0px !important;
        border-top: 0px !important;
        border-color: #898989 !important;
    }

    .print .table-bordered {
        border-color: #898989 !important;
        border-left: 0px;
        border-right: 0px;
        margin-bottom: 0px;
    }
}

.invoice.print.jewel {
    border: 0px;
}

.jewel-cus, jewel-inv {
    border: 1px solid #000;
    width: 100%;
    height: 110px;
    margin-bottom: 5px;
}

    .jewel-cus tr th:first-child, .jewel-cus tr td:first-child {
        padding-left: 10px;
        width: 120px;
        text-align: left;
    }

.jewel-inv tr th:first-child, .jewel-inv tr td:first-child {
    padding-left: 10px;
    width: 125px;
}

.jewel-cus tr th:nth-child(2), .jewel-cus tr td:nth-child(2) {
    padding-left: 10px;
    width: 22px;
    text-align: left;
}

.jewel-cus tr th i:nth-child(2), .jewel-cus tr td i:nth-child(2),
.jewel-inv tr th i:nth-child(2), .jewel-inv tr td i:nth-child(2) {
    float: right;
    text-align: right;
    direction: rtl;
}

table.jewel-cus tr, table.jewel-inv tr {
    border-bottom: 1px dotted #000 !important
}

.jewel #itemtable thead tr:first-child th {
    background: #ccc !important;
}

.jewel #itemtable thead:first-child tr:first-child th {
    border-left: 1px solid #030303 !important;
    border-right: 1px solid #030303 !important;
    border-top: 2px solid #000 !important;
    border-bottom: 2px solid #000 !important;
}

    .jewel #itemtable thead:first-child tr:first-child th:first-child {
        padding-left: 5px;
    }

.jewel #itemtable tbody tr:last-child td {
    border-bottom: 2px solid #000 !important;
}

.hrfoot {
    border-top: 1px solid black;
    margin-left: 0px;
    margin-bottom: 0px;
}
