<!-- Modal -->
<div class="modal fade" id="add-discount" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Discount</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Disc %
                        <input type="text" class="form-control inlineTarget" id="disc_p" value="0.00">
                    </div>
                    <div class="col-md-12">
                        Disc Amount
                        <input type="text" class="form-control inlineTarget" id="disc_m" value="0.00">
                    </div>
                    <div class="col-sm-12 lblpadding"><label class="control-label"><input type="checkbox" value="1" id="tax_disc" /> Calculate Tax After Disc.</label></div>

                    <div class="col-md-12 lblpadding">
                        <button type="button" class="btn btn-default btn-full" data-dismiss="modal" id="adddiscount">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



