@model QuickSoft.Models.TaskStatus
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Delete Task Status</h4>
</div>
<div class="modal-body">
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    @using (Html.BeginForm("Delete", "TaskStatus", FormMethod.Post, new { id = "deleteform" }))
            {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger col-sm-offset-4" />
            <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
        </div>
    }
</div>

