
@{
    ViewBag.Title = "Upgrade";
    ViewBag.SubTitle = "Upgrade";
    ViewBag.Active = "Settings";

}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Upgrade</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("action", "Upgrade", FormMethod.Post, new { id = "upgradeform"}))
        {
            <div class="col-md-12 headeralign">
                <button type="submit" id="save" class="btn btn-info">Upgrade</button>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $('#upgradeform').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                async: true,
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Upgrade/action",
               // data: JSON.stringify(parameters),
                beforeSend: function () {
                    $("button").prop('disabled', true); // disable button
                },
                success: function (e) {
                    if (e.status == true) {
                            $('.ajax_response', res_success).text(e.message);
                            $('.AlertDiv').prepend(res_success);
                        window.location.href = '@Url.Action("Index", "Upgrade")';
                    } else {
                        $('.ajax_response', res_danger).text(e.message);
                        $('.AlertDiv').prepend(res_danger);
                        $("button").prop('disabled', false); // enable button
                    }
                }
            });

        });
    </script>
}